
@{
    ViewBag.Title = "MASBGPDT03";
}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">แก้ไขข้อมูลการคัดพันธุ์เป็นสุกรพันธุ์ GGP และ GP</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home", new { Area = "Master" })">Master</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="@HttpUtility.UrlDecode(Url.Action("MASBGPDT01", "BGP", new {}).ToString())">GGP & PS</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Edit</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title text-primary">แก้ไข</h1>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                            <span class="input-group-text col-lg-3">เบอร์หู</span>
                                            <input type="text"
                                                   id="BRDR_ID"
                                                   value="@Model.BRDR_ID"
                                                   class="form-control m-input input-req" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">เบอร์หูที่ได้ครั้งแรก</span>
                                            <input type="text"
                                                   id="BRDR_ID_ORIG"
                                                   value="@Model.BRDR_ID_ORIG"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">line</span>
                                            <input type="number"
                                                   id="LINE"
                                                   value="@Model.LINE"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">สายพันธุ์</span>
                                            <input type="text"
                                                   id="GNE"
                                                   value="@Model.GNE"
                                                   maxlength="1"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-3" id="basic-addon1">เพศ</span>
                                            <select class="form-select dropdown-multiple" id="GND" name="GND">
                                                @if (@Model.GND == "M")
                                                {
                                                    <option value="M" selected="selected">Male</option>
                                                    <option value="F">FeMale</option>
                                                }
                                                else
                                                {
                                                    <option value="M">Male</option>
                                                    <option value="F" selected="selected">FeMale</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-3">ระดับเลือด</span>
                                            <input type="text"
                                                   id="BLOOD_LVL"
                                                   value="@Model.BLOOD_LVL"
                                                   class="form-control m-input input-req" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">เบอร์พ่อ</span>
                                            <input type="text"
                                                   id="FTHR_BRDR_ID"
                                                   value="@Model.FTHR_BRDR_ID"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">เบอร์แม่</span>
                                            <input type="text"
                                                   id="MTHR_BRDR_ID"
                                                   value="@Model.MTHR_BRDR_ID"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">วันเกิด</span>
                                            <input type="text"
                                                   id="DOB"
                                                   value="@(Model.DOB == null ? "" : Convert.ToString(string.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Model.DOB))))"
                                                   class="form-control"
                                                   placeholder="Select Date" />
                                            <span class="input-group-icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-3">หน้าอกซ้าย</span>
                                            <input type="number"
                                                   id="BRST_LEFT"
                                                   value="@Model.BRST_LEFT"
                                                   class="form-control m-input input-req" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">หน้าอกขวา</span>
                                            <input type="number"
                                                   id="BRST_RGHT"
                                                   value="@Model.BRST_RGHT"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">วันที่รับ</span>
                                            <input type="text"
                                                   id="DT_RCVD"
                                                   value="@(Model.DT_RCVD == null ? "" : Convert.ToString(string.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Model.DT_RCVD))))"
                                                   class="form-control"
                                                   placeholder="Select Date" />
                                            <span class="input-group-icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">วันที่ใช้งาน</span>
                                            <input type="text"
                                                   id="DT_USED"
                                                   value="@(Model.DT_USED == null ? "" : Convert.ToString(string.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Model.DT_USED))))"
                                                   class="form-control"
                                                   placeholder="Select Date" />
                                            <span class="input-group-icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-3">WEIGHT RECEIVED</span>
                                            <input type="number"
                                                   id="WGHT_RCVD"
                                                   value="@Model.WGHT_RCVD"
                                                   class="form-control m-input input-req" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">ADG</span>
                                            <input type="number"
                                                   id="ADG"
                                                   value="@Model.ADG"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">FCR</span>
                                            <input type="text"
                                                   id="FCR"
                                                   value="@Model.FCR"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">INDEX</span>
                                            <input type="number"
                                                   id="INDEX"
                                                   value="@Model.INDEX"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">INDEX_F</span>
                                            <input type="number"
                                                   id="INDEX_F"
                                                   value="@Model.INDEX_F"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">INBRD</span>
                                            <input type="number"
                                                   id="INBRD"
                                                   value="@Model.INBRD"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">หมายเหตุ</span>
                                            <input type="text"
                                                   id="REM"
                                                   value="@Model.REM"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4">สถานะ</span>
                                            <input type="text"
                                                   id="ST"
                                                   value="@Model.ST"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex" style="justify-content:flex-end !important">
                        <button id="SAVE" class="btn btn-primary btn-round">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#DOB ,#DT_RCVD, #DT_USED").datepicker({
            todayHighlight: true,
            orientation: 'bottom left',
            format: 'dd-M-yyyy',
            todayBtn: 'linked',
            autoclose: 'true',
            assumeNearbyYear: true,
        });

        $($(BRDR_ID).parent()).removeClass('alert-validate');

        $("#SAVE").click(function () {
            if ($("#BRDR_ID").val() != "") {
                Swal.fire({
                    icon: "question",
                    title: 'Do you want to save?',
                    text: "Are you sure to Edit this data",
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                }).then((result) => {
                    if (result.isConfirmed) {
                        save();
                    }
                });
            } else {
                if ($("#BRDR_ID").val() == "") {
                    $($(BRDR_ID).parent()).addClass('alert-validate');
                }
            }
        });

        function save() {
            let MAS_BRDR_GGP = {};
            MAS_BRDR_GGP.BRDR_GGP_SK = "@Model.BRDR_GGP_SK";
            MAS_BRDR_GGP.BRDR_ID = $("#BRDR_ID").val();
            MAS_BRDR_GGP.BRDR_ID_ORIG = $("#BRDR_ID_ORIG").val();
            MAS_BRDR_GGP.LINE = $("#LINE").val();
            MAS_BRDR_GGP.GNE = $("#GNE").val();
            MAS_BRDR_GGP.GND = $("#GND").val();
            MAS_BRDR_GGP.BLOOD_LVL = $("#BLOOD_LVL").val();
            MAS_BRDR_GGP.FTHR_BRDR_ID = $("#FTHR_BRDR_ID").val();
            MAS_BRDR_GGP.MTHR_BRDR_ID = $("#MTHR_BRDR_ID").val();
            MAS_BRDR_GGP.DOB = $("#DOB").val();
            MAS_BRDR_GGP.BRST_LEFT = $("#BRST_LEFT").val();
            MAS_BRDR_GGP.BRST_RGHT = $("#BRST_RGHT").val();
            MAS_BRDR_GGP.DT_RCVD = $("#DT_RCVD").val();
            MAS_BRDR_GGP.DT_USED = $("#DT_USED").val();
            MAS_BRDR_GGP.WGHT_RCVD = $("#WGHT_RCVD").val();
            MAS_BRDR_GGP.ADG = $("#ADG").val();
            MAS_BRDR_GGP.FCR = $("#FCR").val();
            MAS_BRDR_GGP.INDEX = $("#INDEX").val();
            MAS_BRDR_GGP.INDEX_F = $("#INDEX_F").val();
            MAS_BRDR_GGP.INBRD = $("#INBRD").val();
            MAS_BRDR_GGP.REM = $("#REM").val();
            MAS_BRDR_GGP.ST = $("#ST").val();

            $.ajax({
            contentType: "application/json; charset=utf-8",// กำหนด content สำหรับส่งข้อมูลแบบ object or list
            type: "POST",
                url: pathServer + "/BGP/MASBGPDT03_UPDATE",
                dataType: "json",
                data: JSON.stringify({ MAS_BRDR_GGP: MAS_BRDR_GGP }), //parameter Object,List
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    let timerInterval;
                    xhr_loading(xhr);
                    clearInterval(timerInterval);
                return xhr;
            },
                success: function (data) {

                clearInterval(interVal);
                $('#progress').css('width', 100 + "%");
                    //successMessage.init();
                    setTimeout(function () {
                        //Attach_File();s
                        Swal.fire({
                            icon: "success",
                            title: 'Your data has been saved', //"Your data has been saved"
                            showConfirmButton: true,
                            confirmButtonText: 'OK'
                        }).then((result) => {
                        var url = decodeURIComponent("@HttpUtility.UrlDecode(Url.Action("MASBGPDT03", "BGP", new { BRDR_GGP_SK = "BRDR_GGP_SKRedirect" }).ToString())");
                        const parseResult = new DOMParser().parseFromString(url, "text/html");
                        url = parseResult.documentElement.textContent;
                            url = url.replace("BRDR_GGP_SKRedirect", data.BRDR_GGP_SK);
                            window.location.replace(url);
                        });
                    }, 1500);
                },
                error: function () {
                    errorAlert.init();
                }
            });
        }
    });
</script>
