
@{
    ViewBag.Title = "TFRSALDT01";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">
                ข้อมูลเอกสารการขายสุกร
            </h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Transfer</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Sales and Delivery</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title text-primary">ค้นหา</h1>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("TFRSALDT01", "SAL", FormMethod.Get, new { enctype = "multipart/form-data", @class = " bordered-row" }))
                        {
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">เลขที่ใบส่งสินค้า</span>
                                            @Html.TextBox("searchSALno", ViewBag.searchSALno as string, new { @class = "form-control", autocomplete = "off", tabindex = "1" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-3" id="basic-addon1">ฟาร์ม</span>
                                            <select class="form-select form-control dropdown-multiple" id="searchSiteid" name="searchSiteid" multiple="multiple">
                                                <option value="ALL" selected="selected">All</option>
                                                @foreach (var sit in ViewBag.MAS_SITE)
                                                {
                                                    <option value="@sit.SITE_ID">@sit.SITE_NM_TH</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 date">
                                            <span class="input-group-text col-lg-3" id="basic-addon1">จากวันที่</span>
                                            @Html.TextBox("searchDateForm", ViewBag.searchDateForm as string, new { @class = "form-control m-input", autocomplete = "off", tabindex = "1", placeholder = "Select Date", id = "searchDateForm" })
                                            <span class="input-group-icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 date">
                                            <span class="input-group-text col-lg-3" id="basic-addon1">ถึงวันที่</span>
                                            @Html.TextBox("searchDateTo", ViewBag.searchDateTo as string, new { @class = "form-control m-input", autocomplete = "off", tabindex = "1", placeholder = "Select Date", id = "searchDateTo" })
                                            <span class="input-group-icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-lg-4" id="basic-addon1">ประเภทสินค้า</span>
                                            <select class="form-select form-control dropdown" id="searchProductType" name="searchProductType">
                                                <option value=""></option>
                                                <option value="1">สุกรขุน</option>
                                                <option value="2">ลูกสุกรหย่านม</option>
                                                <option value="3">สุกรอนุบาล</option>
                                                <option value="4">สุกรพ่อแม่พันธุ์คัดทิ้ง</option>
                                                <option value="5">สุกรพันธุ์</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-12 d-flex" style="justify-content:flex-end !important">
                                    <button type="submit" class="btn btn-primary btn-round">Search</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6 col-lg-10">
                                <h6 class="card-title text-primary">
                                    รายละเอียด
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive tab-content mt-3 mb-3">
                            <table id="tb_detail" style="width:100%" border="1"
                                   class="display table table-striped table-hover table-bordered table-checkable nowrap dataTable">
                                <thead>
                                    <tr>
                                        <th width="5%" style="text-align:center !important">ลำดับ</th>
                                        <th width="10%" style="text-align:center !important">KEY</th>
                                        <th width="10%" style="text-align:center !important">รหัสฟาร์ม</th>
                                        <th style="text-align:center !important">ชื่อฟาร์ม</th>
                                        <th style="text-align:center !important">ประเภทสินค้า</th>
                                        <th style="text-align:center !important">เลขที่เอกสาร</th>
                                        <th style="text-align:center !important">วันที่</th>
                                        <th style="text-align:center !important">มูลค่ารวม</th>
                                        <th width="5%" style="align-content:center !important">
                                            <div class="d-flex align-items-center selectgroup-pills">
                                                <a href="@HttpUtility.UrlDecode(Url.Action("TFRSALDT02", "SAL", new {
                                                        searchSiteid = ViewBag.searchSiteid == null ? null : string.Join("&searchSiteid=", (string[])ViewBag.searchSiteid),
                                                        searchSALno = ViewBag.searchSALno,
                                                        searchDateForm = ViewBag.searchDateForm,
                                                        searchDateTo = ViewBag.searchDateTo,
                                                        searchProductType = ViewBag.searchProductType
                                                    }).ToString())"
                                                   class="selectgroup-button selectgroup-button-icon">
                                                    <i class="fa fa-plus text-success"></i>
                                                </a>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var table = null;
    $('#searchSiteid').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
        closeOnSelect: true,
        tags: true
    });
        if ($("#searchSiteid").val() == "ALL") {
            $("#searchSiteid").val("");
        }
    $(document).ready(function () {

        $("#searchSALno").val(JSON.parse('@Html.Raw(Json.Encode(ViewBag.searchSALno))')).trigger("change");
        $("#searchSiteid").val(JSON.parse('@Html.Raw(Json.Encode(ViewBag.searchSiteid))')).trigger("change");

        $("#searchDateForm,#searchDateTo").datepicker({
            todayHighlight: true,
            orientation: 'bottom left',
            format: 'dd-M-yyyy',
            todayBtn: 'linked',
            autoclose: 'true',
            assumeNearbyYear: true
        });

        table = $("#tb_detail").DataTable({
        lengthChange: false,
        "processing": true, // for show progress bar
        "orderMulti": false, // for disable multiple column at once
        "pageLength": 10,
        scrollCollapse: true,
        paging: true,
        searching: false,
        responsive: !0,
        ordering: true,
        info: true,
        bAutoWidth: false,
        order: [[1, "asc"]],
        "ajax": {
            url: pathServer + "/SAL/TFRSALDT01_SELECT",
                type: "POST",
                datatype: "json",
            data: {
                searchSiteid: $("#searchSiteid").val(), searchSALno: $("#searchSALno").val(), searchDateForm: $("#searchDateForm").val(), searchDateTo: $("#searchDateTo").val(), searchProductType: $("#searchProductType").val()
                },
        },
        columnDefs: [
            {
                targets: [0],
                orderable: false,
                className: "text-center",
            },
            {
                targets: [1,2],
                orderable: false,
                visible: false,
                className: "text-left",
            },
            {
                targets: [ 3, 4, 5],
                orderable: false,
                className: "text-right",
            },
            {
                targets: [7],
                orderable: false,
                className: "text-left",
                mRender: function (data, type, full) {
                    return numeral(data).format('0,0.00');
                }
            },
            {
                targets: [ 6, 8],
                orderable: false,
                className: "text-center",
            },
        ],
        "columns": [
            {
                "render": function (data, type, full, meta) {
                    var page = (Math.ceil(meta.settings._iDisplayStart / meta.settings._iDisplayLength)) * 10; // index row
                    return (meta.row + 1) + page;
                }
            },
            { 'data':'UK_KEY'},
            { 'data':'SITE_ID'},
            { 'data':'SITE_NM_TH'},
            {
                'data': 'PD_TP',
                render: function (e, a, t, n) {
                    var s = {
                        1: { title: "สุกรขุน", state: "primary" },
                        2: { title: "ลูกสุกรหย่านม", state: "primary" },
                        3: { title: "สุกรอนุบาล", state: "primary" },
                        4: { title: "สุกรพ่อแม่พันธุ์คัดทิ้ง", state: "primary" },
                        5: { title: "สุกรพันธุ์", state: "primary" },
                    };
                    return void 0 === s[e] ? e : "<div class='input-group'><ul class='0-legend html-legend'><li><span class='btn-" + s[e].state + "'></span>" + s[e].title + "</li></ul></div>";
                }
            },
            { 'data':'SALE_DOC_ID'},
            { 'data':'SALE_DT', render: function (data, type, row) { return data != "" ? resJsonToDate(data) : ""; } },
            { 'data':'NET_PRC_AMT'},
            {
                mRender: function (data, type, row) {
                    var link = '@HttpUtility.UrlDecode(Url.Action("TFRSALDT03", "SAL", new {
                               SALE_DOC_ID = "row_SALE_DOC_ID",
                               searchSiteid = ViewBag.searchSiteid == null ? null : string.Join("&searchSiteid=", (string[])ViewBag.searchSiteid),
                               searchSALno = ViewBag.searchSALno,
                               searchDateForm = ViewBag.searchDateForm,
                               searchDateTo = ViewBag.searchDateTo,
                               searchProductType = ViewBag.searchProductType
                           }).ToString())';
                    link = link.replace("row_SALE_DOC_ID", row.SALE_DOC_ID);
                    var All_Botton = "<div class='d-flex align-items-center selectgroup-pills'>";
                        All_Botton = All_Botton + "<a href='" + link + "' class='selectgroup-button selectgroup-button-icon' title='Edit'><i class='fas fa-edit text-primary'></i></a>";
                        All_Botton = All_Botton + "</div>";
                    return All_Botton;
                    }
                },
            ]
        });

        table.on('order.dt', function () {
            table.column(0, { order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
        //SelectList();
    });

</script>
