
@{
    ViewBag.Title = "TFRSALDT02";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">การสร้างใบส่งสินค้า</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Tables</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Datatables</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6 col-lg-10">
                                <h3 class="card-title text-primary">สร้างใบส่งสินค้า</h3>
                            </div>
                            <div class="col-md-6 col-lg-2 d-flex" style="justify-content:flex-end !important">
                                <button class="btn btn-success btn-round">
                                    <span class="btn-label"><i class="fas fa-print"></i></span>
                                    Print
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-3" id="basic-addon1">เลชที่เอกสาร</span>
                                        <input type="text" id="SALE_DOC_ID" class="form-control" value="@ViewBag.SALE_DOC_ID" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="โปรดเลือกวันที่">
                                        <span class="input-group-text col-lg-3" id="basic-addon1">วันที่</span>
                                        <input type="text" id="SALE_DT" class="form-control input-req-date" required />
                                        <span class="input-group-icon">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4" id="basic-addon1">สถานะ</span>
                                        <input type="text" id="DOC_STATUS" value="Draft" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-3" id="basic-addon1">บริษัท</span>
                                        <select class="form-select form-control dropdown" id="CO_ID" name="CO_ID" disabled>
                                            <option value="" selected="selected"></option>
                                            @foreach (var sit in ViewBag.MAS_COMPANY)
                                            {
                                                <option value="@sit.CO_ID">@sit.CO_NM_TH</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="โปรดเลือกพนักงาน">
                                        <span class="input-group-text col-lg-4" id="basic-addon1">พนักงาน</span>
                                        <select class="form-select form-control dropdown input-req-date" id="EMP_USR_ID" name="EMP_USR_ID">
                                            <option></option>
                                            @foreach (var usr in ViewBag.MAS_USR)
                                            {
                                                <option value="@usr.USR_ID">@usr.PR_NAME @usr.F_NAME @usr.L_NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-3" id="basic-addon1">ฟาร์ม</span>
                                        <select class="form-select form-control dropdown" id="SITE_ID" name="SITE_ID" disabled>
                                            @foreach (var sit in ViewBag.MAS_SITE)
                                            {
                                                <option value="@sit.SITE_ID">@sit.SITE_NM_TH</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="โปรดระบุเลขที่ใบชั่ง">
                                        <span class="input-group-text col-lg-4">เลขที่ใบชั่ง</span>
                                        <input type="text" id="WGHT_PPR_ID"
                                               class="form-control input-req"
                                               placeholder="Input Document No." style="color:blue"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="โปรดเลือกประเภทค้า">
                                        <span class="input-group-text col-lg-4" id="basic-addon1">ประเภท</span>
                                        <select class="form-select form-control input-req-date" id="PD_TP">
                                            <option value=""></option>
                                            <option value="1">สุกรขุน</option>
                                            <option value="2">ลูกสุกรหย่านม</option>
                                            <option value="3">สุกรอนุบาล</option>
                                            <option value="4">สุกรพ่อแม่พันธุ์คัดทิ้ง</option>
                                            <option value="5">สุกรพันธุ์</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="โปรดเลือกลูกค้า">
                                        <span class="input-group-text col-lg-3" id="basic-addon1">ลูกค้า</span>
                                        <select class="form-select form-control dropdown input-req-date" id="AC_NBR" name="AC_NBR">
                                            <option></option>
                                            @foreach (var cst in ViewBag.MAS_CST)
                                            {
                                                <option value="@cst.AC_NBR">@cst.YOUR_AC_NBR @cst.NM @cst.FRST_NM @cst.LAST_NM</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-8">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-3" id="basic-addon1">ที่อยู่</span>
                                        <select class="form-select form-control dropdown" id="CS_AC_NBR" name="CS_AC_NBR">
                                            <option value="">Please select Customer address</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4" id="basic-addon1">ผู้รับสินค้า</span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder=""
                                               aria-label="Username"
                                               aria-describedby="basic-addon1" />
                                        <button class="btn btn-primary btn-border dropdown-toggle"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4" id="basic-addon1">ผู้ส่งสินค้า</span>
                                        <select class="form-select form-control dropdown" id="SHIP_USR_ID" name="SHIP_USR_ID">
                                            <option></option>
                                            @foreach (var usr in ViewBag.MAS_USR)
                                            {
                                                <option value="@usr.USR_ID">@usr.PR_NAME @usr.F_NAME @usr.L_NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4" id="basic-addon1">ผู้ตรวจสอบ</span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder=""
                                               aria-label="Username"
                                               aria-describedby="basic-addon1" />
                                        <button class="btn btn-primary btn-border dropdown-toggle"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-right">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4" id="basic-addon1">ผู้มีอำนาจลงนาม</span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder=""
                                               aria-label="Username"
                                               aria-describedby="basic-addon1" />
                                        <button class="btn btn-primary btn-border dropdown-toggle"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="body1">
                            <ul class="nav nav-tabs nav-line nav-color-secondary" id="line-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="line-tab11-tab" data-bs-toggle="pill" href="#line-tab11" role="tab" aria-controls="pills-tab11" aria-selected="true">I.รายละเอียดใบส่งสินค้า</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="line-tab12-tab" data-bs-toggle="pill" href="#line-tab12" role="tab" aria-controls="pills-tab12" aria-selected="false">II.จำนวนเงินที่ต้องชำระ</a>
                                </li>
                            </ul>
                            <div class="tab-content mt-3 mb-3" id="line-tabContent">
                                <div class="tab-pane fade show active table-responsive tab-content mt-3 mb-3" id="line-tab11" role="tabpanel" aria-labelledby="line-tab11-tab">
                                    <table id="basic-datatables" style="width:100%" border="1"
                                           class="display table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="5%" style="text-align:center !important">ลำดับ</th>
                                                <th width="20%" style="text-align:center !important">น้ำหนัก</th>
                                                <th width="20%" style="text-align:center !important">Note.</th>
                                                <th width="20%" style="text-align:center !important">เล้า</th>
                                                <th width="8%" style="align-content:center">
                                                    <div class="d-flex align-items-center selectgroup-pills">
                                                        <button type="button"
                                                                class="selectgroup-button selectgroup-button-icon">
                                                            <i class="fa fa-plus text-success"></i>
                                                        </button>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2">รวม</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="body2">
                            <ul class="nav nav-tabs nav-line nav-color-secondary" id="line-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="line-tab21-tab" data-bs-toggle="pill" href="#line-tab21" role="tab" aria-controls="pills-tab21" aria-selected="true">I.รายละเอียดใบส่งสินค้า</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="line-tab22-tab" data-bs-toggle="pill" href="#line-tab22" role="tab" aria-controls="pills-tab22" aria-selected="false">II.จำนวนเงินที่ต้องชำระ</a>
                                </li>
                            </ul>
                            <div class="tab-content mt-3 mb-3" id="line-tabContent">
                                <div class="tab-pane fade show active table-responsive tab-content mt-3 mb-3" id="line-tab21" role="tabpanel" aria-labelledby="line-tab21-tab">
                                    <table id="tb_wnng" style="width:100%" border="1"
                                           class="display table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="5%" style="text-align:center !important">ลำดับ</th>
                                                <th width="5%" style="text-align:center !important">KEY</th>
                                                <th width="15%" style="text-align:center !important">จำนวน(ตัว)</th>
                                                <th width="15%" style="text-align:center !important">น้ำหนัก(กก.)</th>
                                                <th width="15%" style="text-align:center !important">เฉลี่ย(กก.)</th>
                                                <th width="10%" style="text-align:center !important">เล้า</th>
                                                <th width="8%" style="align-content:center">
                                                    <div class="d-flex align-items-center selectgroup-pills">
                                                        <button type="button"
                                                                id="BT-ADD_WNNG"
                                                                onclick="AddWnng(this)"
                                                                value="@ViewBag.SALE_DOC_ID"
                                                                class="selectgroup-button selectgroup-button-icon">
                                                            <i class="fa fa-plus text-success"></i>
                                                        </button>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade tab-content mt-3 mb-3" id="line-tab22" role="tabpanel" aria-labelledby="line-tab22-tab">
                                    <label class="card-title text-primary">สุกร</label>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">สุกรหย่านม ช่วงอายุ</span>
                                                    <input type="text" id="PD_DESC"
                                                           class="form-control" style="color:blue" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">จำนวน</span>
                                                    <input type="text" id="PD_TOT_QTY"
                                                           class="form-control int" style="text-align: right" readonly />
                                                    <span class="input-group-icon">
                                                        ตัว
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">ราคา/หน่วย</span>
                                                    <input type="text" id="PD_PER_UNIT" onchange="CalculateWnngFoot()"
                                                           class="form-control decimal" style="text-align: right; color: blue" />
                                                    <span class="input-group-icon">
                                                        บาท
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">จำนวนเงิน</span>
                                                    <input type="text" id="PD_AMT"
                                                           class="form-control decimal" style="text-align: right" readonly />
                                                    <span class="input-group-icon">
                                                        บาท
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">ค่าทำวัคซีน โปรแกรม</span>
                                                    <input type="text" id="VCNE_DESC" class="form-control" style="color:blue" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">ราคา/หน่วย</span>
                                                    <input type="text" id="VCNE_PER_UNIT" onchange="CalculateWnngFoot()"
                                                           class="form-control decimal" style="text-align: right; color: blue" />
                                                    <span class="input-group-icon">
                                                        บาท
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">จำนวนเงิน</span>
                                                    <input type="text" id="VCNE_AMT"
                                                           class="form-control decimal" style="text-align: right" readonly />
                                                    <span class="input-group-icon">
                                                        บาท
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="card-title text-primary">บวก</label>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">ค่าขนส่ง(ถ้ามี)</span>
                                                    <input type="text" id="LGST_DESC" class="form-control" style="color:blue" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6"></div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">จำนวนเงิน</span>
                                                    <input type="text" id="LGST_PER_UNIT" onchange="CalculateWnngFoot()"
                                                           class="form-control decimal" style="text-align: right; color: blue" />
                                                    <span class="input-group-icon">
                                                        บาท
                                                    </span>
                                                </div>
                                            </div>
                                            <input type="hidden" id="LGST_AMT" class="form-control decimal" style="text-align: right" readonly />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">อื่นๆ(ระบุ)</span>
                                                    <input type="text" id="OTHR_PLS_DESC" class="form-control" style="color:blue" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6"></div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">จำนวนเงิน</span>
                                                    <input type="text" id="OTHR_PLS_PER_UNIT" onchange="CalculateWnngFoot()"
                                                           class="form-control decimal" style="text-align: right; color: blue" />
                                                    <span class="input-group-icon">
                                                        บาท
                                                    </span>
                                                </div>
                                            </div>
                                            <input type="hidden" id="OTHR_PLS_AMT" class="form-control decimal" style="text-align: right" readonly />
                                        </div>
                                    </div>
                                    <label class="card-title text-primary">หัก</label>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">อื่นๆ(ระบุ)</span>
                                                    <input type="text" id="OTHR_MNS_1_DESC" class="form-control" style="color:blue" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6"></div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">จำนวนเงิน</span>
                                                    <input type="text" id="OTHR_MNS_1_PER_UNIT" onchange="CalculateWnngFoot()"
                                                           class="form-control decimal" style="text-align: right; color: blue" />
                                                    <span class="input-group-icon">
                                                        บาท
                                                    </span>
                                                </div>
                                            </div>
                                            <input type="hidden" id="OTHR_MNS_1_AMT" class="form-control decimal" style="text-align: right" readonly />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">อื่นๆ(ระบุ)</span>
                                                    <input type="text" id="OTHR_MNS_2_DESC" class="form-control" style="color:blue" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6"></div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">จำนวนเงิน</span>
                                                    <input type="text" id="OTHR_MNS_2_PER_UNIT" onchange="CalculateWnngFoot()"
                                                           class="form-control decimal" style="text-align: right; color: blue" />
                                                    <span class="input-group-icon">
                                                        บาท
                                                    </span>
                                                </div>
                                            </div>
                                            <input type="hidden" id="OTHR_MNS_2_AMT" class="form-control decimal" style="text-align: right" readonly />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6"></div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">น้ำหนักเฉลียต่อตัว</span>
                                                    <input type="text" id="AV_WGHT" class="form-control decimal" style="text-align: right" readonly />
                                                    <span class="input-group-icon">
                                                        กก.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">รวมเงิน</span>
                                                    <input type="text" id="TOT_AMT" class="form-control decimal" style="text-align: right" readonly />
                                                    <span class="input-group-icon">
                                                        บาท
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6"></div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">น้ำหนักรวม</span>
                                                    <input type="text" id="NET_WGHT" class="form-control decimal" style="text-align: right" readonly />
                                                    <span class="input-group-icon">
                                                        กก.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">ส่วนลด</span>
                                                    <input type="text" id="DIS_AMT" class="form-control decimal" style="text-align: right" readonly />
                                                    <span class="input-group-icon">
                                                        บาท
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-9"></div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-lg-5">ยอดเงินสุทธิ</span>
                                                    <input type="text" id="NET_AMT" class="form-control decimal" style="text-align: right" readonly />
                                                    <span class="input-group-icon">
                                                        บาท
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="body3">
                            <ul class="nav nav-tabs nav-line nav-color-secondary" id="line-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="line-tab31-tab" data-bs-toggle="pill" href="#line-tab31" role="tab" aria-controls="pills-tab31" aria-selected="true">รายละเอียดใบส่งสินค้า</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="line-tab32-tab" data-bs-toggle="pill" href="#line-tab32" role="tab" aria-controls="pills-tab32" aria-selected="false">จำนวนเงินที่ต้องชำระ</a>
                                </li>
                            </ul>
                            <div class="tab-content mt-3 mb-3" id="line-tabContent">
                                <div class="tab-pane fade show active table-responsive tab-content mt-3 mb-3" id="line-tab31">
                                    <table id="tb_nrs" style="width:100%" border="1"
                                           class="display table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="5%" style="text-align:center !important">ลำดับ</th>
                                                <th width="5%" style="text-align:center !important">KEY</th>
                                                <th width="15%" style="text-align:center !important">จำนวน</th>
                                                <th width="10%" style="text-align:center !important">เล้า</th>
                                                <th width="15%" style="text-align:center !important">น้ำหนัก</th>
                                                <th width="15%" style="text-align:center !important">เฉลี่ย</th>
                                                <th width="8%" style="align-content:center">
                                                    <div class="d-flex align-items-center selectgroup-pills">
                                                        <button type="button"
                                                                class="selectgroup-button selectgroup-button-icon">
                                                            <i class="fa fa-plus text-success"></i>
                                                        </button>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="body4">
                            <ul class="nav nav-tabs nav-line nav-color-secondary" id="line-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="line-tab41-tab" data-bs-toggle="pill" href="#line-tab41" role="tab" aria-controls="pills-tab41" aria-selected="true">รายละเอียดใบส่งสินค้า</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="line-tab42-tab" data-bs-toggle="pill" href="#line-tab42" role="tab" aria-controls="pills-tab42" aria-selected="false">จำนวนเงินที่ต้องชำระ</a>
                                </li>
                            </ul>
                            <div class="tab-content mt-3 mb-3" id="line-tabContent">
                                <div class="tab-pane fade show active table-responsive tab-content mt-3 mb-3" id="line-tab41">
                                    <table id="basic-datatables2" style="width:100%" border="1"
                                           class="display table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="5%" style="text-align:center !important">ลำดับ</th>
                                                <th width="15%" style="text-align:center !important">เบอร์หู</th>
                                                <th width="15%" style="text-align:center !important">เพศ</th>
                                                <th width="15%" style="text-align:center !important">จำนวน</th>
                                                <th width="10%" style="text-align:center !important">เล้า</th>
                                                <th width="15%" style="text-align:center !important">น้ำหนัก</th>
                                                <th width="8%" style="align-content:center">
                                                    <div class="d-flex align-items-center selectgroup-pills">
                                                        <button type="button"
                                                                class="selectgroup-button selectgroup-button-icon">
                                                            <i class="fa fa-plus text-success"></i>
                                                        </button>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="body5">
                            <ul class="nav nav-tabs nav-line nav-color-secondary" id="line-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="line-tab51-tab" data-bs-toggle="pill" href="#line-tab51" role="tab" aria-controls="pills-tab51" aria-selected="true">รายละเอียดใบส่งสินค้า</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="line-tab52-tab" data-bs-toggle="pill" href="#line-tab52" role="tab" aria-controls="pills-tab52" aria-selected="false">จำนวนเงินที่ต้องชำระ</a>
                                </li>
                            </ul>
                            <div class="tab-content mt-3 mb-3" id="line-tabContent">
                                <div class="tab-pane fade show active table-responsive tab-content mt-3 mb-3" id="line-tab51">
                                    <table id="tb_brdr" style="width:100%" border="1"
                                           class="display table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="5%" style="text-align:center !important">ลำดับ</th>
                                                <th width="5%" style="text-align:center !important">KEY</th>
                                                <th width="15%" style="text-align:center !important">เบอร์หู</th>
                                                <th width="15%" style="text-align:center !important">เพศ</th>
                                                <th width="15%" style="text-align:center !important">จำนวน</th>
                                                <th width="10%" style="text-align:center !important">เล้า</th>
                                                <th width="15%" style="text-align:center !important">น้ำหนัก</th>
                                                <th width="8%" style="align-content:center">
                                                    <div class="d-flex align-items-center selectgroup-pills">
                                                        <button type="button"
                                                                id="BT-ADD_BRDR"
                                                                onclick="AddBrdr(this)"
                                                                value="@ViewBag.SALE_DOC_ID"
                                                                class="selectgroup-button selectgroup-button-icon">
                                                            <i class="fa fa-plus text-success"></i>
                                                        </button>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button id="SAVE" class="btn btn-primary btn-round fix btn-fixed-position">Save</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer class="footer">
    </footer>
</div>
<script>
    var MAS_HSG = @Html.Raw(Json.Encode(ViewBag.MAS_HSG));
    var tableWnng = null;
    var BRDR_LIST = @Html.Raw(Json.Encode(ViewBag.MAS_BRDR_ALL));
    $(document).ready(function () {
        $('#CO_ID').val('MJG').trigger("change");
        $('#SITE_ID').val('BT').trigger("change");
        $("#SALE_DT").datepicker({
            todayHighlight: true,
            orientation: 'bottom left',
            format: 'dd-M-yyyy',
            todayBtn: 'linked',
            autoclose: 'true',
            assumeNearbyYear: true
        });
        $("#SALE_DT").datepicker("setDate", new Date());
        $('#CO_ID,#SITE_ID,#AC_NBR,#EMP_USR_ID,#CS_AC_NBR,#SHIP_USR_ID').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
            tags: true
        });
        $(".int").inputmask({
            'alias': 'currency',
            'integerDigits': '12',
            'digits': 0,
            'prefix': '',
            rightAlign: false
        });
        $(".decimal").inputmask({
            'alias': 'currency',
            'integerDigits': '12',
            'digits': 2,
            'prefix': '',
            rightAlign: false,
        });

        hidedefault();
        $("#PD_TP").change(function () {
            hideaffterselect();
            if ($("#PD_TP").val() == 1) {
                $("#body1").show();
            } else if ($("#PD_TP").val() == 2) {
                $("#body2").show();
            } else if ($("#PD_TP").val() == 3) {
                $("#body3").show();
            } else if ($("#PD_TP").val() == 4) {
                $("#body4").show();
            } else if ($("#PD_TP").val() == 5) {
                $("#body5").show();
            } else {
                hidedefault();
            }
        });
        function hidedefault() {
            $("#body1").hide();
            $("#body2").hide();
            $("#body3").hide();
            $("#body4").hide();
            $("#body5").hide();
        }
        function hideaffterselect() {
            $("#body1").hide();
            $("#body2").hide();
            $("#body3").hide();
            $("#body4").hide();
            $("#body5").hide();
        }
        tableWnng = $("#tb_wnng").DataTable({
            "searching": false,
            "paging": true,
            "ordering": true,
            "info": false,
            "bAutoWidth": false,
            "lengthChange": false,
            "order": [],
            responsive: !0,
            "columnDefs": [
                {
                    targets: [0],
                    orderable: false,
                    className: "text-center",
                },
                {
                    targets: [1],
                    orderable: false,
                    visible: false,
                    className: "text-center",
                },
                {
                    targets: [2, 3, 4],
                    orderable: false,
                    className: "text-right",
                    mRender: function (data, type, full) {
                        return numeral(data).format('0,0');
                    }
                },
                {
                    targets: [ 5, 6],
                    orderable: false,
                    className: "text-center",
                },
            ],
            "columns": [
                {
                    "render": function (data, type, full, meta) {
                        var pageInfo = tableWnng.page.info();
                        return (meta.row + 1) + numeral(pageInfo.page)._value * numeral(pageInfo.length)._value;
                    }
                },
                { 'data': 'UK_KEY' },
                {
                    'data': 'PD_AMT',
                    render: function (data, type, row, meta) {
                        return "<input type='text' class='form-control int' autocomplete='off' style='color:blue' onchange='ModifyDirectlyWnng(this)' id='PD_AMT--" + row.UK_KEY + "' row='" + meta.row + "' col='" + meta.col + "' value='" + row.PD_AMT + "' style='text-align: right;'/>";
                    }
                },
                {
                    'data': 'PD_WGHT',
                    render: function (data, type, row, meta) {
                        return "<input type='text' class='form-control int' autocomplete='off' style='color:blue' onchange='ModifyDirectlyWnng(this)' id='PD_WGHT--" + row.UK_KEY + "' row='" + meta.row + "' col='" + meta.col + "' value='" + row.PD_WGHT + "' style='text-align: right;'/>";
                    }
                },
                { 'data': 'PD_WGHT_AV' },
                {
                    'data': 'HSG_ID',
                    render: function (data, type, row, meta) {
                        var optionList = "";
                        $.each(MAS_HSG, function (index, item) {
                            if (row.HSG_ID !== null && row.HSG_ID == item.HSG_ID) {
                                optionList = optionList + ' <option selected="selected" value="' + item.HSG_ID + '">' + item.HSG_ID + '</option> ';
                            } else {
                                optionList = optionList + ' <option value="' + item.HSG_ID + '">' + item.HSG_ID + '</option> ';
                            }
                        });
                        var select = "<div class='input-group'><select class='form-select dropdown wnng_select' onchange='ModifyDirectlyWnng(this)' id='HSG_ID--" + row.UK_KEY + "' row='" + meta.row + "' col='" + meta.col + "'> <option value=''></option>" + optionList + "</select></div>";
                        return select;
                    }
                },
                {
                    mRender: function (data, type, row, meta) {
                        var pageInfo = tableWnng.page.info();
                        return "<div class='d-flex align-items-center selectgroup-pills'><button type='button' onclick='DelWnng(this)' id='BT-DEL_WNNG--" + row.UK_KEY + "' class='selectgroup-button selectgroup-button-icon wnng_bt' ><i class='fas fa-trash text-danger'></i></button></div>";
                    }
                }
            ],
            "rowCallback": function (row, data, index) {
                var pageInfo = this.api().page.info();
                var row_index = (index + 1) + pageInfo.page * pageInfo.length;
                $('td:eq(0)', row).html(row_index);
                if (data.UK_KEY.split('--').length == 1) {
                    data.UK_KEY = data.UK_KEY + "--" + row_index;
                }

            },
            "drawCallback": function (settings, row, data, index) {
                var api = this.api();

                // Recalculate and update the index numbers after each draw
                api.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                    var pageInfo = api.page.info();
                    var rowIndex = (i + 1) + pageInfo.page * pageInfo.length;
                    // Update the cell's content with the new row index
                    $(cell).html(rowIndex);
                });

                $(".int").inputmask({
                    'alias': 'currency',
                    'integerDigits': '12',
                    'digits': 0,
                    'prefix': '',
                    rightAlign: false
                });
                $(".wnng_select").each(function () {

                    $(this).select2({
                        theme: "bootstrap-5",
                        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                        placeholder: $(this).data('placeholder'),
                        closeOnSelect: false,
                        tags: true
                    });
                });
            }

        });

        tableBrdr = $("#tb_brdr").DataTable({
            "searching": false,
            "paging": true,
            "ordering": true,
            "info": false,
            "bAutoWidth": false,
            "lengthChange": false,
            "order": [],
            responsive: !0,
            "columnDefs": [
                {
                    targets: [1],
                    visible: true,
                    orderable: false,
                    className: "text-center",
                },
                {
                    targets: [0, 2,3,7],
                    orderable: false,
                    className: "text-center",
                },
                {
                    targets: [4],
                    orderable: false,
                    className: "text-left",
                    mRender: function (data, type, full) {
                        return numeral(data).format('0,0');
                    }
                },
                {
                    targets: [ 6],
                    orderable: false,
                    className: "text-left",
                    mRender: function (data, type, full) {
                        return numeral(data).format('0,0.00');
                    }
                },
            ],
            "columns": [
                {
                    "render": function (data, type, full, meta) {
                        var pageInfo = tableBrdr.page.info();
                        return (meta.row + 1) + numeral(pageInfo.page)._value * numeral(pageInfo.length)._value;
                    }
                },
                {
                    'data': 'UK_KEY'
                },
                {
                    'data': 'BRDR_ID',
                    render: function (data, type, row, meta) {
                        var optionList = "";
                        $.each(BRDR_LIST, function (index, item) {
                            if (row.BRDR_ID !== null && row.BRDR_ID == item.BRDR_ID) {
                                optionList = optionList + ' <option selected="selected" value="' + item.BRDR_ID + '">' + item.BRDR_ID + '</option> ';
                            } else {
                                optionList = optionList + ' <option value="' + item.BRDR_ID + '">' + item.BRDR_ID + '</option> ';
                            }
                        });
                        var select = "<div class='input-group'><select class='form-select dropdown brdr_select' onchange='BrdrChange(this)' id='BRDR_ID--" + row.UK_KEY + "' brd='" + row.BRDR_ID + "' row='" + meta.row + "' col='" + meta.col + "' require> <option value=''></option>" + optionList + "</select></div>";
                        return select;
                    }
                },
                {
                    'data': 'GND',
                    render: function (e, a, t, n) {
                        var s = {
                            M: { title: "สุกรหนุ่ม", state: "primary" },
                            F: { title: "สุกรสาว", state: "danger" },
                        };
                        return void 0 === s[e] ? e : '<span class="m-badge m-badge--' + s[e].state + ' m-badge--dot"></span>&nbsp;<span class="m--font-bold m--font-' + s[e].state + '">' + s[e].title + "</span>"
                    }
                },
                {
                    'data': 'PD_AMT',
                },
                {
                    'data': 'HSG_ID',
                    render: function (data, type, row, meta) {
                        var optionList = "";
                        $.each(MAS_HSG, function (index, item) {
                            if (row.HSG_ID !== null && row.HSG_ID == item.HSG_ID) {
                                optionList = optionList + ' <option selected="selected" value="' + item.HSG_ID + '">' + item.HSG_ID + '</option> ';
                            } else {
                                optionList = optionList + ' <option value="' + item.HSG_ID + '">' + item.HSG_ID + '</option> ';
                            }
                        });
                        var select = "<div class='input-group'><select onchange='ModifyDirectlyBrdr(this)' class='form-select dropdown brdr_select' id='HSG_ID--" + row.UK_KEY + "' row='" + meta.row + "' col='" + meta.col + "' value='" + row.HSG_ID + "'> <option value=''></option>" + optionList + "</select></div>";
                        return select;
                    }
                },
                {
                    'data': 'PD_WGHT',
                    render: function (data, type, row, meta) {
                        return "<input type='text' class='form-control int' autocomplete='off' onchange='ModifyDirectlyBrdr(this)' id='PD_WGHT--" + row.UK_KEY + "' row='" + meta.row + "' col='" + meta.col + "' value='" + row.PD_WGHT + "' />";
                    }
                },
                {
                    mRender: function (data, type, row, meta) {
                        return "<div class='d-flex align-items-center selectgroup-pills'><button type='button' onclick='DelMovement(this)' id='BT-DEL_MOVE--" + row.UK_KEY + "' class='selectgroup-button selectgroup-button-icon move_bt' ><i class='fas fa-trash text-danger'></i></button></div>";
                    }
                }
            ],
            "rowCallback": function (row, data, index) {
                var pageInfo = this.api().page.info();
                var row_index = (index + 1) + pageInfo.page * pageInfo.length;
                $('td:eq(0)', row).html(row_index);
                if (data.UK_KEY.split('--').length == 1) {
                    // Update UK_KEY value permanently in the data
                    data.UK_KEY = data.UK_KEY + "--" + row_index;
                    // Update the cell display
                    //$('td:eq(1)', row).html(data.UK_KEY);
                    //$('td:eq(5)', row).html("<div class='d-flex align-items-center selectgroup-pills'><button type='button' onclick='DelMovement(this)' id='BT-DEL_MOVE--" + data.UK_KEY + "' idx='" + $('td:eq(0)', row).html() + "' class='selectgroup-button selectgroup-button-icon move_bt' ><i class='fas fa-trash text-danger'></i></button></div>");
                }

            },
            "drawCallback": function (settings, row, data, index) {
                var api = this.api();

                // Recalculate and update the index numbers after each draw
                api.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                    var pageInfo = api.page.info();
                    var rowIndex = (i + 1) + pageInfo.page * pageInfo.length;
                    // Update the cell's content with the new row index
                    $(cell).html(rowIndex);
                });

                $(".int").inputmask({
                    'alias': 'currency',
                    'integerDigits': '12',
                    'digits': 0,
                    'prefix': '',
                    rightAlign: false
                });
                $(".brdr_select").each(function () {

                    $(this).select2({
                        theme: "bootstrap-5",
                        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                        placeholder: $(this).data('placeholder'),
                        closeOnSelect: false,
                        tags: true
                    });
                });
            }

        });

    });

    $('#AC_NBR').change(function () {
        if ($("#AC_NBR").val() != "") {
            var selectID = $("#AC_NBR").val();
            $.ajax({
                type: "GET",
                url: pathServer + "/SAL/Get_Address",
                data: {
                    selectID: selectID,
                },
                success: function (response) {
                    $('#CS_AC_NBR').empty()
                    $.each(response, function (index, value) {
                        $('#CS_AC_NBR').append($('<option/>', {
                            value: response[index].CS_AC_NBR,
                            text: response[index].STR + response[index].CITY + ' ' + response[index].CNTY + ' ' + response[index].STE + ' ' +  response[index].ZIP_CODE
                        }));
                    });
                    if ($("#CS_AC_NBR").val() != "") {
                        $($(CS_AC_NBR).parent()).removeClass('alert-validate-date');
                    }
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        }
    });

    function AddWnng(btn) {
        Swal.fire({
            title: "Are you sure?",
            text: "คุณแน่ใจที่จะเพิ่ม 20 รายการใช่หรือไม่!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, add it!"
        }).then((result) => {
            if (result.isConfirmed) {
                var key = $("#BT-ADD_WNNG").val();
                var i = 0;
                while (i < 20) {
                    tableWnng.row.add({
                        "UK_KEY": key,
                        "PD_AMT": 0,
                        "HSG_ID": "",
                        "PD_WGHT": 0,
                        "PD_WGHT_AV": 0
                    }).draw(false);
                    i++;
                }

                WnngReGenerate();
            }
        });
    }

    function WnngReGenerate() {
        var pageInfo = tableWnng.page.info();
        tableWnng.rows().every(function (index) {
            var rowData = this.data();
            var newUK_KEY = String(rowData.UK_KEY).split('--')[0] + "--" + (index + 1);
            rowData.UK_KEY = newUK_KEY; // Update UK_KEY in row data
            this.data(rowData);
        });
        tableWnng.page(pageInfo.page).draw(false);
    }

    function ModifyDirectlyWnng(btn) {
        var id = $(btn).attr('id');
        var row = $(btn).attr('row');
        var col = $(btn).attr('col');
        var new_values = $("#" + id).val();
        var key = id.split('--')[1] + '--' + id.split('--')[2];

        console.log("New: " + key);
        var indexWnng = tableWnng
            .rows()
            .indexes()
            .filter(function (value, index) {
                return key === tableWnng.row(value).data().UK_KEY;
            });

        if (indexWnng !== undefined && tableWnng.row(indexWnng).length > 0) {
            var page = tableWnng.page.info();
            tableWnng.page(page.page).cell(row, col).data(new_values).draw(false);
            CalculateWnng(indexWnng);
            CalculateWnngFoot();
        } else {
            console.log("Invalid row index:", indexWnng);
        }
    }

    function CalculateWnng(indexWnng) {
        var page = tableWnng.page.info();
        if (numeral(tableWnng.row(indexWnng).data().PD_AMT)._value > 0 && numeral(tableWnng.row(indexWnng).data().PD_WGHT)._value > 0) {
            tableWnng.row(indexWnng).data().PD_WGHT_AV = (numeral(tableWnng.row(indexWnng).data().PD_WGHT)._value / numeral(tableWnng.row(indexWnng).data().PD_AMT)._value);
        }
        tableWnng.row(indexWnng).data(tableWnng.row(indexWnng).data()).draw();
        tableWnng.page(page.page).draw(false);
    }

    function CalculateWnngFoot() {
        var sum_PD_TOT_QTY = 0;
        var sum_PD_WGHT = 0;
        for (var i = 0; i < tableWnng.data().length; i++) {
            sum_PD_TOT_QTY = numeral(sum_PD_TOT_QTY)._value + numeral(tableWnng.data()[i].PD_AMT)._value;
            sum_PD_WGHT = numeral(sum_PD_WGHT)._value + numeral(tableWnng.data()[i].PD_WGHT)._value;
        }
        $("#PD_TOT_QTY").val(numeral(sum_PD_TOT_QTY)._value);
        $("#PD_AMT").val(numeral(sum_PD_TOT_QTY)._value * numeral($("#PD_PER_UNIT").val())._value);
        $("#VCNE_AMT").val(numeral(sum_PD_TOT_QTY)._value * numeral($("#VCNE_PER_UNIT").val())._value);
        $("#LGST_AMT").val(numeral($("#LGST_PER_UNIT").val())._value);
        $("#OTHR_PLS_AMT").val(numeral($("#OTHR_PLS_PER_UNIT").val())._value);
        $("#OTHR_MNS_1_AMT").val(numeral($("#OTHR_MNS_1_PER_UNIT").val())._value);
        $("#OTHR_MNS_2_AMT").val(numeral($("#OTHR_MNS_2_PER_UNIT").val())._value);
        $("#NET_WGHT").val(numeral(sum_PD_WGHT)._value);
        $("#AV_WGHT").val(sum_PD_WGHT / sum_PD_TOT_QTY);
        $("#TOT_AMT").val(numeral($("#PD_AMT").val())._value + numeral($("#VCNE_AMT").val())._value + numeral($("#LGST_AMT").val())._value +
            numeral($("#OTHR_PLS_AMT").val())._value - (numeral($("#OTHR_MNS_1_AMT").val())._value + numeral($("#OTHR_MNS_2_AMT").val())._value));
        $("#NET_AMT").val(numeral($("#TOT_AMT").val())._value - numeral($("#DIS_AMT").val())._value);
    }

    function DelWnng(btn) {
        var id = $(btn).attr('id');
        var idx = $(btn).attr('idx');
        var key = id.split('--')[1] + "--" + id.split('--')[2];

        var indexHead = tableWnng
            .rows()
            .indexes()
            .filter(function (value, index) {
                //console.log(key + "|" + tableWnng.row(value).data().UK_KEY);
                return key === tableWnng.row(value).data().UK_KEY;
            }); // หา row ที่ต้องการจะลบ
        Swal.fire({
            icon: "warning",
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            showCancelButton: true,
            confirmButtonText: 'Yes',
        }).then((result) => {
            if (result.isConfirmed) {

                tableWnng.rows(indexHead).remove().draw(); // ลบ row ที่ค้นหา
                WnngReGenerate();
                CalculateWnngFoot();
            }
        });
    }
    $("#SAVE").click(function () {
        var minimum_row = false;
        var fully_row = true;
        var row_index = 0;
        var pd_type = $("#PD_TP").val();
        if ($("#SALE_DT").val() != "" && $("#WGHT_PPR_ID").val() != "" && $("#PD_TP").val() != "" && $("#AC_NBR").val() != "") {
            if (pd_type == 2) {
                tableWnng.rows().every(function (index) {
                    var rowData = this.data();
                    if (rowData.HSG_ID != "" && numeral(rowData.PD_WGHT)._value != 0 && numeral(rowData.PD_AMT)._value != 0) {
                        minimum_row = true;
                    }
                    if ((rowData.HSG_ID == "" || numeral(rowData.PD_WGHT)._value == 0 || numeral(rowData.PD_AMT)._value == 0) &&
                        !(rowData.HSG_ID == "" && numeral(rowData.PD_WGHT)._value == 0 && numeral(rowData.PD_AMT)._value == 0)) {
                        fully_row = false;
                        row_index = index + 1;
                    }
                });
            }
            else if (pd_type == 5)
            {
                tableBrdr.rows().every(function (index) {
                    var rowData = this.data();
                    if (rowData.HSG_ID != "" && numeral(rowData.PD_WGHT)._value != 0 && numeral(rowData.PD_AMT)._value != 0) {
                        minimum_row = true;
                    }
                    if ((rowData.HSG_ID == "" || numeral(rowData.PD_WGHT)._value == 0 || numeral(rowData.PD_AMT)._value == 0) &&
                        !(rowData.HSG_ID == "" && numeral(rowData.PD_WGHT)._value == 0 && numeral(rowData.PD_AMT)._value == 0)) {
                        fully_row = false;
                        row_index = index + 1;
                    }

                });
            }

            if (fully_row == true) {
                if (fully_row == true && (tableWnng.rows().count() > 0 && pd_type == 2) || (tableBrdr.rows().count() > 0 && pd_type == 5)) {
                    Swal.fire({
                        icon: "question",
                        title: 'Do you want to save?',
                        text: "Are you sure to Add Sale",
                        showCancelButton: true,
                        confirmButtonText: 'Yes',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            if (pd_type == 2) {
                                saveWnng();
                            } else if (pd_type == 5) {
                                saveBrdr();
                            }

                        }
                    });
                } else {
                    Swal.fire({
                        icon: "error",
                        title: 'Empty!',
                        text: "กรุณาระบุข้อมูลรายการที่ " + row_index + " ให้ครบถ้วน",
                        showCancelButton: false,
                        confirmButtonText: 'OK',
                    });
                }
            } else {
                Swal.fire({
                    icon: "error",
                    title: 'Empty!',
                    text: "ต้องมีข้อมูลครบถ้วนอย่างน้อย 1 รายการ",
                    showCancelButton: false,
                    confirmButtonText: 'OK',
                });
            }
        } else {
            if ($("#SALE_DT").val() == "") {
                $($(SALE_DT).parent()).addClass('alert-validate-date');
                $("#SALE_DT").focus();
            }
            //if ($("#EMP_USR_ID").val() == "") {
            //    $($(EMP_USR_ID).parent()).addClass('alert-validate-date');
            //}
            if ($("#WGHT_PPR_ID").val() == "") {
                $($(WGHT_PPR_ID).parent()).addClass('alert-validate');
            }
            if ($("#PD_TP").val() == "") {
                $($(PD_TP).parent()).addClass('alert-validate-date');
            }
            if ($("#AC_NBR").val() == "") {
                $($(AC_NBR).parent()).addClass('alert-validate-date');
            }
        }

    });

    function saveWnng() {
        var AVY_SALES_HDR = {};
        var AVY_SALES_DTL = new Array();
        var AVY_SALES_FOTR_WNNG = {};

        AVY_SALES_HDR.PD_TP = $("#PD_TP").val();
        AVY_SALES_HDR.SALE_DOC_ID = $("#SALE_DOC_ID").val();
        AVY_SALES_HDR.SALE_DT = $("#SALE_DT").val();
        AVY_SALES_HDR.SITE_ID = $("#SITE_ID").val();
        AVY_SALES_HDR.CST_ID = $("#AC_NBR").val();
        AVY_SALES_HDR.WGHT_PPR_ID = $("#WGHT_PPR_ID").val().toString();

        for (var i = 0; i < tableWnng.data().length; i++) {
            let tbwnng_d = {};
            tbwnng_d.SALE_DOC_ID = $("#SALE_DOC_ID").val();
            tbwnng_d.SEQ = tableWnng.data()[i].UK_KEY.split('--')[1];
            tbwnng_d.HSG_ID = tableWnng.data()[i].HSG_ID;
            tbwnng_d.BRDR_F = 0;
            tbwnng_d.PD_AMT = numeral(tableWnng.data()[i].PD_AMT)._value;
            tbwnng_d.PD_WGHT = numeral(tableWnng.data()[i].PD_WGHT)._value;
            tbwnng_d.PD_WGHT_AV = numeral(tableWnng.data()[i].PD_WGHT_AV)._value;
            AVY_SALES_DTL.push(tbwnng_d);
        }

        AVY_SALES_FOTR_WNNG.SALE_DOC_ID = $("#SALE_DOC_ID").val();
        AVY_SALES_FOTR_WNNG.PD_TP = $("#PD_TP").val();
        AVY_SALES_FOTR_WNNG.PD_DESC = $("#PD_DESC").val();
        AVY_SALES_FOTR_WNNG.PD_TOT_QTY = numeral($("#PD_TOT_QTY").val())._value;
        AVY_SALES_FOTR_WNNG.PD_PER_UNIT = numeral($("#PD_PER_UNIT").val())._value;
        AVY_SALES_FOTR_WNNG.VCNE_DESC = $("#VCNE_DESC").val();
        AVY_SALES_FOTR_WNNG.VCNE_PER_UNIT = numeral($("#VCNE_PER_UNIT").val())._value;
        AVY_SALES_FOTR_WNNG.LGST_DESC = $("#LGST_DESC").val();
        AVY_SALES_FOTR_WNNG.LGST_PER_UNIT = numeral($("#LGST_PER_UNIT").val())._value;
        AVY_SALES_FOTR_WNNG.OTHR_PLS_DESC = $("#OTHR_PLS_DESC").val();
        AVY_SALES_FOTR_WNNG.OTHR_PLS_PER_UNIT = numeral($("#OTHR_PLS_PER_UNIT").val())._value;
        AVY_SALES_FOTR_WNNG.OTHR_MNS_1_DESC = $("#OTHR_MNS_1_DESC").val();
        AVY_SALES_FOTR_WNNG.OTHR_MNS_1_PER_UNIT = numeral($("#OTHR_MNS_1_PER_UNIT").val())._value;
        AVY_SALES_FOTR_WNNG.OTHR_MNS_2_DESC = $("#OTHR_MNS_2_DESC").val();
        AVY_SALES_FOTR_WNNG.OTHR_MNS_2_PER_UNIT = numeral($("#OTHR_MNS_2_PER_UNIT").val())._value;
        AVY_SALES_FOTR_WNNG.AV_WGHT = numeral($("#AV_WGHT").val())._value;
        AVY_SALES_FOTR_WNNG.NET_WGHT = numeral($("#NET_WGHT").val())._value;
        AVY_SALES_FOTR_WNNG.TOT_AMT = numeral($("#TOT_AMT").val())._value;
        AVY_SALES_FOTR_WNNG.DIS_AMT = numeral($("#DIS_AMT").val())._value;
        AVY_SALES_FOTR_WNNG.NET_AMT = numeral($("#NET_AMT").val())._value;

        $.ajax({
            contentType: "application/json; charset=utf-8",// กำหนด content สำหรับส่งข้อมูลแบบ object or list
            type: "POST",
            url: pathServer + "/SAL/TFRSALDT02_INSERT_WNNG",
            dataType: "json",
            data: JSON.stringify({ AVY_SALES_HDR: AVY_SALES_HDR, AVY_SALES_DTL: AVY_SALES_DTL, AVY_SALES_FOTR_WNNG: AVY_SALES_FOTR_WNNG }), //parameter Object,List
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                let timerInterval;
                xhr_loading(xhr);
                clearInterval(timerInterval);
                return xhr;
            },
            success: function (data) {

                clearInterval(interVal);
                $('#progress').css('width', 100 + "%");
                //successMessage.init();
                setTimeout(function () {
                    //Attach_File();
                    Swal.fire({
                        icon: "success",
                        title: 'Your data has been saved',
                        showConfirmButton: true,
                        confirmButtonText: 'OK'
                    }).then((result) => {
                    var url = decodeURIComponent("@HttpUtility.UrlDecode(Url.Action("TFRSALDT03", "SAL", new {
                                                 SALE_DOC_ID = "DOC_IDRedirect",
                    }).ToString())");
                    const parseResult = new DOMParser().parseFromString(url, "text/html");
                    url = parseResult.documentElement.textContent;
                        url = url.replace("DOC_IDRedirect", data.SALE_DOC_ID);
                        window.location.replace(url);
                        //location.reload();
                    });
                }, 1500);
            },
            error: function () {
                errorAlert.init();
            }
        });
    }

    function AddBrdr(btn) {
        var key = $("#BT-ADD_BRDR").val();
        tableBrdr.row.add({
            "UK_KEY": key,
            "BRDR_ID": "",
            "GND": "",
            "PD_AMT":1,
            "HSG_ID": "",
            "PD_WGHT": 0
        }).draw(false);
        BrdrReGenerate();
    }

    function BrdrReGenerate() {
        // Get current page info for later use
        var pageInfo = tableBrdr.page.info();
        tableBrdr.rows().every(function (index) {
            var rowData = this.data();
            var newUK_KEY = String(rowData.UK_KEY).split('--')[0] + "--" + (index + 1);
            rowData.UK_KEY = newUK_KEY; // Update UK_KEY in row data
            this.data(rowData);
        });
        tableBrdr.page(pageInfo.page).draw(false);
    }

    function BrdrChange(btn) {
        var id = $(btn).attr('id');
        var selectID = $("#" + id).val();
        var row = $(btn).attr('row');
        $.ajax({
            type: "GET",
            url: pathServer + "/SAL/SELECT_BRDR",
            data: {
                selectID: selectID,
            },
            success: function (response) {
                var page = tableBrdr.page.info();
                tableBrdr.page(page.page).cell(row, 3).data(response.GND).draw(false);
                ModifyDirectlyBrdr(btn);
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
    }

    function ModifyDirectlyBrdr(btn) {
        var id = $(btn).attr('id');
        var row = $(btn).attr('row');
        var col = $(btn).attr('col');
        var new_values = $("#" + id).val();
        var key = id.split('--')[1] + '--' + id.split('--')[2];

        console.log("New: " + id);
        if (CheckBrdr(key, new_values) == false) {
            var indexBrdr = tableBrdr
                .rows()
                .indexes()
                .filter(function (value, index) {
                    return key === tableBrdr.row(value).data().UK_KEY;
                });

            if (indexBrdr !== undefined && tableBrdr.row(indexBrdr).length > 0) {
                var page = tableBrdr.page.info();
                tableBrdr.page(page.page).cell(row, col).data(new_values).draw(false);
            } else {
                console.log("Invalid row index:", indexBrdr);
            }
        } else {
            var page = tableBrdr.page.info();
            tableBrdr.page(page.page).cell(row, col).data("").draw(false);
        }
    }

    function CheckBrdr(key, new_values) {
        var duplicate = 0;
        for (var i = 0; i < tableBrdr.data().length; i++) {
            if (tableBrdr.data()[i].BRDR_ID != "" && tableBrdr.data()[i].UK_KEY != key && new_values == tableBrdr.data()[i].BRDR_ID) {
                console.log("Dup: " + new_values + "|" + tableBrdr.data()[i].BRDR_ID);
                duplicate = duplicate + 1;
            }
        }

        if (duplicate > 0) {
            Swal.fire({
                icon: "error",
                title: 'Duplicate!',
                text: "You won't able to select this!",
                showCancelButton: false,
                confirmButtonText: 'OK',
            });
            return true;
        } else {
            return false;
        }
    }

    function saveBrdr() {
        var AVY_SALES_HDR = {};
        var AVY_SALES_DTL = new Array();

        AVY_SALES_HDR.PD_TP = $("#PD_TP").val();
        AVY_SALES_HDR.SALE_DOC_ID = $("#SALE_DOC_ID").val();
        AVY_SALES_HDR.SALE_DT = $("#SALE_DT").val();
        AVY_SALES_HDR.SITE_ID = $("#SITE_ID").val();
        AVY_SALES_HDR.CST_ID = $("#AC_NBR").val();
        AVY_SALES_HDR.WGHT_PPR_ID = $("#WGHT_PPR_ID").val().toString();

        for (var i = 0; i < tableBrdr.data().length; i++) {
            let tbbrdr_d = {};
            tbbrdr_d.SALE_DOC_ID = $("#SALE_DOC_ID").val();
            tbbrdr_d.SEQ = tableBrdr.data()[i].UK_KEY.split('--')[1];
            tbbrdr_d.BRDR_ID = tableBrdr.data()[i].BRDR_ID;
            tbbrdr_d.GND = tableBrdr.data()[i].GND;
            tbbrdr_d.HSG_ID = tableBrdr.data()[i].HSG_ID;
            tbbrdr_d.BRDR_F = "Y";
            tbbrdr_d.PD_AMT = numeral(tableBrdr.data()[i].PD_AMT)._value;
            tbbrdr_d.PD_WGHT = numeral(tableBrdr.data()[i].PD_WGHT)._value;
            tbbrdr_d.PD_WGHT_AV = numeral(tableBrdr.data()[i].PD_WGHT_AV)._value;
            AVY_SALES_DTL.push(tbbrdr_d);
        }

        $.ajax({
            contentType: "application/json; charset=utf-8",// กำหนด content สำหรับส่งข้อมูลแบบ object or list
            type: "POST",
            url: pathServer + "/SAL/TFRSALDT02_INSERT_BRDR",
            dataType: "json",
            data: JSON.stringify({ AVY_SALES_HDR: AVY_SALES_HDR, AVY_SALES_DTL: AVY_SALES_DTL }), //parameter Object,List
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                let timerInterval;
                xhr_loading(xhr);
                clearInterval(timerInterval);
                return xhr;
            },
            success: function (data) {

                clearInterval(interVal);
                $('#progress').css('width', 100 + "%");
                //successMessage.init();
                setTimeout(function () {
                    //Attach_File();
                    Swal.fire({
                        icon: "success",
                        title: 'Your data has been saved',
                        showConfirmButton: true,
                        confirmButtonText: 'OK'
                    }).then((result) => {
                    var url = decodeURIComponent("@HttpUtility.UrlDecode(Url.Action("TFRSALDT03", "SAL", new {
                                                 SALE_DOC_ID = "DOC_IDRedirect",
                    }).ToString())");
                    const parseResult = new DOMParser().parseFromString(url, "text/html");
                    url = parseResult.documentElement.textContent;
                        url = url.replace("DOC_IDRedirect", data.SALE_DOC_ID);
                        window.location.replace(url);
                        //location.reload();
                    });
                }, 1500);
            },
            error: function () {
                errorAlert.init();
            }
        });
    }
</script>