@{
    ViewBag.Title = "MASSITDT03";
}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">สร้างข้อมูลหลักฟาร์ม</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home", new { Area = "Master" })">Master</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="@HttpUtility.UrlDecode(Url.Action("MASSITDT01", "SIT", new {}).ToString())">Site</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Create</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title text-primary">สร้าง</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุชื่อย่อบริษัท">
                                        <span class="input-group-text col-lg-3">ชื่อย่อบริษัท</span>
                                        <input type="text"
                                               id="SITE_ID"
                                               value="@Model.SITE_ID"
                                               class="form-control m-input input-req" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุชือภาษาไทยของฟาร์ม">
                                        <span class="input-group-text col-lg-3">ชือภาษาไทย</span>
                                        <input type="text"
                                               id="SITE_NM_TH"
                                               value="@Model.SITE_NM_TH"
                                               class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-3">ชือภาษาอังกฤษ</span>
                                        <input type="text"
                                               id="SITE_NM_EN"
                                               value="@Model.SITE_NM_EN"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ Company Code">
                                        <span class="input-group-text col-lg-3">Company Code</span>
                                        <select class="form-select form-control" id="CO_CODE">
                                            @foreach (var cpn in ViewBag.MAS_COMPANY)
                                            {
                                                if (cpn.CO_ID == Model.CO_CODE)
                                                {
                                                    <option value="@cpn.CO_ID|@cpn.CO_NM_TH" selected="selected">@cpn.CO_ID - @cpn.CO_NM_TH</option>
                                                }
                                                else
                                                {
                                                    <option value="@cpn.CO_ID|@cpn.CO_NM_TH">@cpn.CO_ID - @cpn.CO_NM_TH</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ TAX และต้องมี 5 ตัวอักษร">
                                        <span class="input-group-text col-lg-3">Tax Branch</span>
                                        <input type="text"
                                               id="TAX_BR"
                                               value="@Model.TAX_BR"
                                               maxlength="5"
                                               class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-3">ชือย่อของฟาร์ม</span>
                                        <input type="text"
                                               id="SITE_NM_ABR"
                                               value="@Model.SITE_NM_ABR"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-3">ระดับ</span>
                                        <select class="form-select form-control" id="SITE_LVL">
                                            <option value="1" @(Model.SITE_LVL == 1 ? "selected" : "")>GGP</option>
                                            <option value="2" @(Model.SITE_LVL == 2 ? "selected" : "")>GP</option>
                                            <option value="3" @(Model.SITE_LVL == 3 ? "selected" : "")>PS</option>
                                            <option value="4" @(Model.SITE_LVL == 4 ? "selected" : "")>F</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-lg-9">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ ที่อยู่">
                                        <span class="input-group-text col-lg-1">ที่อยู่</span>
                                        <input type="text"
                                               id="ADR"
                                               value="@Model.ADR"
                                               class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="card-title text-primary">รูปแบบ</label><br>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <div class="d-flex" style="justify-content:flex-start !important;">
                                        <div class="form-check">
                                            <input class="form-check-input pig-type" type="checkbox" id="F_BRDR" value="BRDR" @(Model.F_BRDR == 1 ? "checked" : "")>
                                            <label class="form-check-label" for="F_BRDR">
                                                เลี้ยงสุกรพันธุ์
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <div class="d-flex" style="justify-content:flex-start !important;">
                                        <div class="form-check">
                                            <input class="form-check-input pig-type" type="checkbox" id="F_PIG" value="PIG" @(Model.F_PIG == 1 ? "checked" : "")>
                                            <label class="form-check-label" for="F_PIG">
                                                เลี้ยงสุกรขุน
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex" style="justify-content:flex-end !important">
                        <button id="SAVE" class="btn btn-primary btn-round">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //$('').inputmask({
        //    'alias': 'currency',
        //    'integerDigits': '12',
        //    'prefix': '',
        //    'digits': '0',
        //    min: 0,
        //    autoUnmask: true,
        //    rightAlign: true
        //});

        $($(SITE_ID).parent()).removeClass('alert-validate');
        $($(SITE_NM_TH).parent()).removeClass('alert-validate');
        $($(CO_CODE).parent()).removeClass('alert-validate');
        $($(TAX_BR).parent()).removeClass('alert-validate');
        $($(ADR).parent()).removeClass('alert-validate');

        $("#SAVE").click(function () {
            if ($("#SITE_ID").val() != "" && $("#SITE_NM_TH").val() != "" && $("#CO_CODE").val() != "" && $("#TAX_BR").val() != "" && $("#ADR").val()) {
                Swal.fire({
                    icon: "question",
                    title: 'Do you want to save?',
                    text: "Are you sure to create this data",
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                }).then((result) => {
                    if (result.isConfirmed) {
                        save();
                    }
                });
            } else {
                if ($("#SITE_ID").val() == "") {
                    $($(SITE_ID).parent()).addClass('alert-validate');
                }
                if ($("#SITE_NM_TH").val() == "") {
                    $($(SITE_NM_TH).parent()).addClass('alert-validate');
                }
                if ($("#CO_CODE").val() == "") {
                    $($(CO_CODE).parent()).addClass('alert-validate');
                }
                if ($("#TAX_BR").val() == "") {
                    $($(TAX_BR).parent()).addClass('alert-validate');
                }
                if ($("#ADR").val() == "") {
                    $($(ADR).parent()).addClass('alert-validate');
                }
            }
        });

        function save() {
            var MAS_SITE = {};
            MAS_SITE.SITE_SK = "@Model.SITE_SK";
            MAS_SITE.SITE_ID = $("#SITE_ID").val();
            MAS_SITE.SITE_NM_TH = $("#SITE_NM_TH").val();
            MAS_SITE.SITE_NM_EN = $("#SITE_NM_EN").val();
            MAS_SITE.CO_CODE = $('#CO_CODE').val().split('|')[0];
            MAS_SITE.CO_NM = $('#CO_CODE').val().split('|')[1];
            MAS_SITE.TAX_BR = $("#TAX_BR").val();
            MAS_SITE.SITE_NM_ABR = $("#SITE_NM_ABR").val();
            MAS_SITE.SITE_LVL = $("#SITE_LVL").val();
            MAS_SITE.ADR = $("#ADR").val();
            $('.pig-type:checked').each(function (index, element) {
                if ($(element).val() == "BRDR") {
                    MAS_SITE.F_BRDR = 1;
                }
                if ($(element).val() == "PIG") {
                    MAS_SITE.F_PIG = 1;
                }
            })
            MAS_SITE.UDT_USR_ID = 999;

            $.ajax({
            contentType: "application/json; charset=utf-8",// กำหนด content สำหรับส่งข้อมูลแบบ object or list
            type: "POST",
                url: pathServer + "/SIT/MASSITDT03_UPDATE",
                dataType: "json",
                data: JSON.stringify({ MAS_SITE: MAS_SITE }), //parameter Object,List
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    let timerInterval;
                    xhr_loading(xhr);
                    clearInterval(timerInterval);
                return xhr;
            },
                success: function (data) {

                clearInterval(interVal);
                $('#progress').css('width', 100 + "%");
                    //successMessage.init();
                    setTimeout(function () {
                        //Attach_File();
                        Swal.fire({
                            icon: "success",
                            title: 'Your data has been saved', //"Your data has been saved"
                            showConfirmButton: true,
                            confirmButtonText: 'OK'
                        }).then((result) => {
                        var url = decodeURIComponent("@HttpUtility.UrlDecode(Url.Action("MASSITDT03", "SIT", new {
                                                     SITE_SK = "SITE_SKRedirect"
                                                 }).ToString())");
                        const parseResult = new DOMParser().parseFromString(url, "text/html");
                        url = parseResult.documentElement.textContent;
                            url = url.replace("SITE_SKRedirect", data.SITE_SK);
                            window.location.replace(url);
                        });
                    }, 1500);
                },
                error: function () {
                    errorAlert.init();
                }
            });
        }
    });
</script>