
@{
    ViewBag.Title = "STDSALDT03";
}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">แก้ไขข้อมูลราคาขาย และส่วนลดตามประกาศ (Sale Price)</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home", new { Area = "Master" })">Master</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="@HttpUtility.UrlDecode(Url.Action("STDSALDT01", "SAL", new {}).ToString())">Sale Price</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Edit</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title text-primary">แก้ไข</h1>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                            <span class="input-group-text" id="basic-addon1">PG Type</span>
                                            <input type="text"
                                                   id="PG_TP"
                                                   value="@Model.PG_TP"
                                                   class="form-control"
                                                   required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                            <span class="input-group-text">วันที่เริ่มประกาศ</span>
                                            <input type="text"
                                                   id="FM_DT"
                                                   value="@(Model.FM_DT == null ? "" : Convert.ToString(string.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Model.FM_DT))))"
                                                   class="form-control"
                                                   placeholder="Select Date" required />
                                            <span class="input-group-icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                            <span class="input-group-text">ถึงวันที่ประกาศ</span>
                                            <input type="text"
                                                   id="TO_DT"
                                                   value="@(Model.TO_DT == null ? "" : Convert.ToString(string.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Model.TO_DT))))"
                                                   class="form-control"
                                                   placeholder="Select Date" required />
                                            <span class="input-group-icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                            <span class="input-group-text">Relation TH</span>
                                            <input type="text"
                                                   id="REL_TH"
                                                   value="@Model.REL_TH"
                                                   class="form-control"
                                                   required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Relation</span>
                                            <input type="text"
                                                   id="REL"
                                                   value="@Model.REL"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Account Code</span>
                                            <input type="text"
                                                   id="AC_CODE"
                                                   value="@Model.AC_CODE"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Account Selection</span>
                                            <input type="text"
                                                   id="AC_SEL"
                                                   value="@Model.AC_SEL"
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                            <span class="input-group-text">Item No.</span>
                                            <input type="text"
                                                   id="ITM_NO"
                                                   value="@Model.ITM_NO"
                                                   class="form-control" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                            <span class="input-group-text">Product Name</span>
                                            <input type="text"
                                                   id="PD_NM"
                                                   value="@Model.PD_NM"
                                                   class="form-control" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                            <span class="input-group-text">Size</span>
                                            <input type="text"
                                                   id="SIZE"
                                                   value="@Model.SIZE"
                                                   class="form-control" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                            <span class="input-group-text">Style</span>
                                            <input type="text"
                                                   id="STYLE"
                                                   value="@Model.STYLE" required
                                                   class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                            <span class="input-group-text">Unit</span>
                                            <input type="text"
                                                   id="UNIT"
                                                   value="@Model.UNIT"
                                                   class="form-control" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                            <span class="input-group-text text-right">Price Amount</span>
                                            <input type="number"
                                                   id="PRC_AMT"
                                                   value="@Model.PRC_AMT"
                                                   class="form-control" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Site</span>
                                            <select class="form-select dropdown-multiple" id="SITE_ID" name="SITE_ID">
                                                <option value="ALL" selected="selected">All</option>
                                                @foreach (var itm in ViewBag.MAS_SITE)
                                                {
                                                    <option value="@itm.SITE_ID" @(itm.SITE_ID == Model.SITE_ID ? "selected" : "")>@itm.SITE_ID - @itm.SITE_NM_TH</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                            <span class="input-group-text col-md-5" id="basic-addon1">Active Status</span>
                                            <select class="form-select dropdown-multiple" id="ACTV_ST" name="ACTV_ST" required>
                                                <option value="A" @(Model.ACTV_ST == "A" ? "selected" : "")>Active</option>
                                                <option value="I" @(Model.ACTV_ST == "I" ? "selected" : "")>InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex" style="justify-content:flex-end !important">
                        <button id="SAVE" class="btn btn-primary btn-round">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#FM_DT, #TO_DT").datepicker({
            todayHighlight: true,
            orientation: 'bottom left',
            format: 'dd-M-yyyy',
            todayBtn: 'linked',
            autoclose: 'true',
            assumeNearbyYear: true,
        });

        $($(PG_TP).parent()).removeClass('alert-validate');
        $($(FM_DT).parent()).removeClass('alert-validate');
        $($(TO_DT).parent()).removeClass('alert-validate');
        $($(REL_TH).parent()).removeClass('alert-validate');
        $($(ITM_NO).parent()).removeClass('alert-validate');
        $($(PD_NM).parent()).removeClass('alert-validate');
        $($(SIZE).parent()).removeClass('alert-validate');
        $($(STYLE).parent()).removeClass('alert-validate');
        $($(UNIT).parent()).removeClass('alert-validate');
        $($(PRC_AMT).parent()).removeClass('alert-validate');
        $($(ACTV_ST).parent()).removeClass('alert-validate');

        $("#SAVE").click(function () {
            if ($("#PG_TP").val() != "" && $("#FM_DT").val() != "" && $("#TO_DT").val() != "" && $("#REL_TH").val() != "" && $("#ITM_NO").val() != ""
                && $("#PD_NM").val() != "" && $("#SIZE").val() != "" && $("#STYLE").val() != "" && $("#UNIT").val() != "" && $("#PRC_AMT").val() != "" && $("#ACTV_ST").val() != "") {
                Swal.fire({
                    icon: "question",
                    title: 'Do you want to save?',
                    text: "Are you sure to Edit this data",
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                }).then((result) => {
                    if (result.isConfirmed) {
                        save();
                    }
                });
            } else {
                if ($("#PG_TP").val() == "") {
                    $($(PG_TP).parent()).addClass('alert-validate');
                }
                if ($("#FM_DT").val() == "") {
                    $($(FM_DT).parent()).addClass('alert-validate');
                }
                if ($("#TO_DT").val() == "") {
                    $($(TO_DT).parent()).addClass('alert-validate');
                }
                if ($("#REL_TH").val() == "") {
                    $($(REL_TH).parent()).addClass('alert-validate');
                }
                if ($("#ITM_NO").val() == "") {
                    $($(ITM_NO).parent()).addClass('alert-validate');
                }
                if ($("#PD_NM").val() == "") {
                    $($(PD_NM).parent()).addClass('alert-validate');
                }
                if ($("#SIZE").val() == "") {
                    $($(SIZE).parent()).addClass('alert-validate');
                }
                if ($("#STYLE").val() == "") {
                    $($(STYLE).parent()).addClass('alert-validate');
                }
                if ($("#UNIT").val() == "") {
                    $($(UNIT).parent()).addClass('alert-validate');
                }
                if ($("#PRC_AMT").val() == "") {
                    $($(PRC_AMT).parent()).addClass('alert-validate');
                }
                if ($("#ACTV_ST").val() == "") {
                    $($(ACTV_ST).parent()).addClass('alert-validate');
                }
            }
        });

        function save() {
            let STD_SALE_PRICE = {};
            STD_SALE_PRICE.SALE_PRC_SK = "@Model.SALE_PRC_SK";
            STD_SALE_PRICE.PG_TP = $("#PG_TP").val();
            STD_SALE_PRICE.FM_DT = $("#FM_DT").val();
            STD_SALE_PRICE.TO_DT = $("#TO_DT").val();
            STD_SALE_PRICE.REL_TH = $("#REL_TH").val();
            STD_SALE_PRICE.REL = $("#REL").val();
            STD_SALE_PRICE.AC_CODE = $("#AC_CODE").val();
            STD_SALE_PRICE.AC_SEL = $("#AC_SEL").val();
            STD_SALE_PRICE.ITM_NO = $("#ITM_NO").val();
            STD_SALE_PRICE.PD_NM = $("#PD_NM").val();
            STD_SALE_PRICE.SIZE = $("#SIZE").val();
            STD_SALE_PRICE.STYLE = $("#STYLE").val();
            STD_SALE_PRICE.UNIT = $("#UNIT").val();
            STD_SALE_PRICE.PRC_AMT = $("#PRC_AMT").val();
            STD_SALE_PRICE.SITE_ID = $("#SITE_ID").val();
            STD_SALE_PRICE.ACTV_ST = $("#ACTV_ST").val();
            STD_SALE_PRICE.UDT_USR_ID = 1;

            $.ajax({
            contentType: "application/json; charset=utf-8",// กำหนด content สำหรับส่งข้อมูลแบบ object or list
            type: "POST",
                url: pathServer + "/SAL/STDSALDT03_UPDATE",
                dataType: "json",
                data: JSON.stringify({ STD_SALE_PRICE: STD_SALE_PRICE }), //parameter Object,List
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    let timerInterval;
                    xhr_loading(xhr);
                    clearInterval(timerInterval);
                return xhr;
            },
                success: function (data) {

                clearInterval(interVal);
                $('#progress').css('width', 100 + "%");
                    //successMessage.init();
                    setTimeout(function () {
                        //Attach_File();
                        Swal.fire({
                            icon: "success",
                            title: 'Your data has been saved', //"Your data has been saved"
                            showConfirmButton: true,
                            confirmButtonText: 'OK'
                        }).then((result) => {
                        var url = decodeURIComponent("@HttpUtility.UrlDecode(Url.Action("STDSALDT03", "SAL", new {
                                                     SALE_PRC_SK = "SALE_PRC_SKRedirect"
                                                 }).ToString())");
                        const parseResult = new DOMParser().parseFromString(url, "text/html");
                        url = parseResult.documentElement.textContent;
                            url = url.replace("SALE_PRC_SKRedirect", data.SALE_PRC_SK);
                            window.location.replace(url);
                        });
                    }, 1500);
                },
                error: function () {
                    errorAlert.init();
                }
            });
        }
    });
</script>

