@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">
                    การจัดการในฟาร์มสุกร
                </h3>
                <h6 class="op-7 mb-2"></h6>
            </div>
            <div class="ms-md-auto py-2 py-md-0">
                <a href="#" class="btn btn-label-info btn-round me-2">Manage</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <a href="@HttpUtility.UrlDecode(Url.Action("HSGRPLDT01", "RPL" , new {}).ToString())" class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-primary bubble-shadow-small">
                                    <i class="bi bi-house"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category text-black">โรงเรือนทดแทน</p>
                                    <h4 class="card-title">@ViewBag.RPL_NET_QTY</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <a href="@HttpUtility.UrlDecode(Url.Action("HSGBRDDT01", "BRD" , new {}).ToString())" class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-info bubble-shadow-small">
                                    <i class="bi bi-house-up"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category text-black">โรงเรือนพ่อพันธุ์</p>
                                    <h4 class="card-title">0</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <a href="@HttpUtility.UrlDecode(Url.Action("HSGMATDT01", "MAT" , new {}).ToString())" class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-success bubble-shadow-small">
                                    <i class="bi bi-house-add"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category text-black">โรงเรือนผสม-อุ้มท้อง</p>
                                    <h4 class="card-title">0</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <a href="@HttpUtility.UrlDecode(Url.Action("HSGFRRDT01", "FRR" , new {}).ToString())" class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-secondary bubble-shadow-small">
                                    <i class="bi bi-house-heart"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category text-black">โรงเรือนคลอด</p>
                                    <h4 class="card-title">0</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <a href="1_7.html" class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-danger bubble-shadow-small">
                                    <i class="bi bi-house-exclamation"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category text-black">โรงเรือนรุ่นพันธุ์</p>
                                    <h4 class="card-title">0</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <a href="@HttpUtility.UrlDecode(Url.Action("HSGNRSDT01", "NRS" , new {}).ToString())" class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-warning bubble-shadow-small">
                                    <i class="bi bi-houses-fill"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category text-black">โรงเรือนอนุบาล</p>
                                    <h4 class="card-title">@ViewBag.NRS_NET_QTY</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <a href="1_6.html" class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-info bubble-shadow-small">
                                    <i class="bi bi-house-down-fill"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category text-black">โรงเรือนขุน</p>
                                    <h4 class="card-title">0</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <a href="@HttpUtility.UrlDecode(Url.Action("INSSEMDT01", "SEM" , new {}).ToString())" class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-success bubble-shadow-small">
                                    <i class="fas fa-hand-holding-heart"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">รายงานประจำวัน ห้องปฏิบัติการผสมเทียม</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <a href="@HttpUtility.UrlDecode(Url.Action("QLYTSTDT01", "TST" , new {}).ToString())" class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-success bubble-shadow-small">
                                    <i class="bi bi-bag-check"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <p class="card-category">ใบตรวจสอบคุณภาพสุกรก่อนขาย</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <a href="@HttpUtility.UrlDecode(Url.Action("HSGRPTDT01", "RPT" , new {}).ToString())" class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-warning bubble-shadow-small bg-report">
                                    <i class="fas bi bi-journal-text"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">สรุปรายงานประจำวัน</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


