
@{
    ViewBag.Title = "MASBPSDT03";
}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">แก้ไขข้อมูลการคัดพันธุ์เป็นสุกรพันธุ์ PS</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home", new { Area = "Master" })">Master</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="@HttpUtility.UrlDecode(Url.Action("MASBPSDT01", "BPS", new {}).ToString())">PS</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Edit</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title text-primary">แก้ไข</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                        <span class="input-group-text col-lg-4">พันธุ์</span>
                                        <input type="text"
                                               id="GNE"
                                               value="@Model.GNE"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="จำเป็นต้องระบุ">
                                        <span class="input-group-text col-lg-4">เบอร์หู</span>
                                        <input type="text"
                                               id="BRDR_ID"
                                               value="@Model.BRDR_ID"
                                               class="form-control m-input input-req" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4" id="basic-addon1">เพศ</span>
                                        <select class="form-select form-control dropdown-multiple" id="GND" name="GND">
                                            <option value="M">สุกรหนุ่ม</option>
                                            <option value="F">สุกรสาว</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4">ระดับเลือด</span>
                                        <input type="text"
                                               id="BLOOD_LVL"
                                               value="@Model.BLOOD_LVL"
                                               class="form-control m-input input-req" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4">เบอร์พ่อ</span>
                                        <select class="form-select form-control dropdown input-req-date" id="FTHR_BRDR_ID" name="FTHR_BRDR_ID">
                                            <option value="" selected></option>
                                            @foreach (var brdr in ViewBag.FTHR_BRDR_ID)
                                            {
                                                <option value="@brdr.BRDR_ID">@brdr.BRDR_ID_USED</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4">เบอร์แม่</span>
                                        <select class="form-select form-control dropdown input-req-date" id="MTHR_BRDR_ID" name="MTHR_BRDR_ID">
                                            <option value="" selected></option>
                                            @foreach (var brdr in ViewBag.MTHR_BRDR_ID)
                                            {
                                                <option value="@brdr.BRDR_ID">@brdr.BRDR_ID_USED</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4">วันเกิด</span>
                                        <input type="text"
                                               id="DOB"
                                               value="@(Model.DOB == null ? "" : Convert.ToString(string.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Model.DOB))))"
                                               class="form-control"
                                               placeholder="Select Date" />
                                        <span class="input-group-icon">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4">เต้านมซ้าย</span>
                                        <input type="number"
                                               id="BRST_LEFT"
                                               value="@Model.BRST_LEFT"
                                               class="form-control m-input input-req" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4">เต้านมขวา</span>
                                        <input type="number"
                                               id="BRST_RGHT"
                                               value="@Model.BRST_RGHT"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4">วันที่รับเข้า</span>
                                        <input type="text"
                                               id="DT_RCVD"
                                               value="@(Model.DT_RCVD == null ? "" : Convert.ToString(string.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Model.DT_RCVD))))"
                                               class="form-control"
                                               placeholder="Select Date" />
                                        <span class="input-group-icon">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4">วันที่เริ่มใช้งานได้</span>
                                        <input type="text"
                                               id="DT_USED"
                                               value="@(Model.DT_USED == null ? "" : Convert.ToString(string.Format("{0:dd-MMM-yyyy}", Convert.ToDateTime(Model.DT_USED))))"
                                               class="form-control"
                                               placeholder="Select Date" />
                                        <span class="input-group-icon">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4">หมายเหตุ</span>
                                        <input type="text"
                                               id="REM"
                                               value="@Model.REM"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4">สถานะ</span>
                                        <input type="text"
                                               id="ST"
                                               value="@Model.ST"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4">โปรแกรมวัคซีน</span>
                                        <input type="text" id="VACCINE" value="@Model.VACCINE" class="form-control m-input input-req" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex" style="justify-content:flex-end !important">
                        <button id="SAVE" class="btn btn-primary btn-round">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#FTHR_BRDR_ID").val(JSON.parse('@Html.Raw(Json.Encode(Model.FTHR_BRDR_ID))')).trigger("change");
        $("#MTHR_BRDR_ID").val(JSON.parse('@Html.Raw(Json.Encode(Model.MTHR_BRDR_ID))')).trigger("change");
        $("#GND").val(JSON.parse('@Html.Raw(Json.Encode(Model.GND))')).trigger("change");
        
        $("#DOB ,#DT_RCVD, #DT_USED").datepicker({
            todayHighlight: true,
            orientation: 'bottom left',
            format: 'dd-M-yyyy',
            todayBtn: 'linked',
            autoclose: 'true',
            assumeNearbyYear: true,
        });

        $($(BRDR_ID).parent()).removeClass('alert-validate');

        $("#SAVE").click(function () {
            if ($("#BRDR_ID").val() != "") {
                Swal.fire({
                    icon: "question",
                    title: 'Do you want to save?',
                    text: "Are you sure to Edit this data",
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                }).then((result) => {
                    if (result.isConfirmed) {
                        save();
                    }
                });
            } else {
                if ($("#BRDR_ID").val() == "") {
                    $($(BRDR_ID).parent()).addClass('alert-validate');
                }
            }
        });

        function save() {
            let MAS_BRDR_ALL = {};
            MAS_BRDR_ALL.BRDR_ALL_SK = "@Model.BRDR_ALL_SK";
            MAS_BRDR_ALL.BRDR_ID = $("#BRDR_ID").val();
            MAS_BRDR_ALL.GNE = $("#GNE").val();
            MAS_BRDR_ALL.GND = $("#GND").val();
            MAS_BRDR_ALL.BLOOD_LVL = $("#BLOOD_LVL").val();
            MAS_BRDR_ALL.FTHR_BRDR_ID = $("#FTHR_BRDR_ID").val();
            MAS_BRDR_ALL.MTHR_BRDR_ID = $("#MTHR_BRDR_ID").val();
            MAS_BRDR_ALL.DOB = $("#DOB").val();
            MAS_BRDR_ALL.BRST_LEFT = $("#BRST_LEFT").val();
            MAS_BRDR_ALL.BRST_RGHT = $("#BRST_RGHT").val();
            MAS_BRDR_ALL.DT_RCVD = $("#DT_RCVD").val();
            MAS_BRDR_ALL.DT_USED = $("#DT_USED").val();
            MAS_BRDR_ALL.WGHT_RCVD = $("#WGHT_RCVD").val();
            MAS_BRDR_ALL.REM = $("#REM").val();
            MAS_BRDR_ALL.ST = $("#ST").val();
            MAS_BRDR_ALL.VACCINE = $("#VACCINE").val();
            $.ajax({
            contentType: "application/json; charset=utf-8",// กำหนด content สำหรับส่งข้อมูลแบบ object or list
            type: "POST",
                url: pathServer + "/BPS/MASBPSDT03_UPDATE",
                dataType: "json",
                data: JSON.stringify({ MAS_BRDR_ALL: MAS_BRDR_ALL }), //parameter Object,List
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    let timerInterval;
                    xhr_loading(xhr);
                    clearInterval(timerInterval);
                return xhr;
            },
                success: function (data) {

                clearInterval(interVal);
                $('#progress').css('width', 100 + "%");
                    //successMessage.init();
                    setTimeout(function () {
                        //Attach_File();s
                        Swal.fire({
                            icon: "success",
                            title: 'Your data has been saved', //"Your data has been saved"
                            showConfirmButton: true,
                            confirmButtonText: 'OK'
                        }).then((result) => {
                        var url = decodeURIComponent("@HttpUtility.UrlDecode(Url.Action("MASBPSDT03", "BPS", new { BRDR_ALL_SK = "BRDR_ALL_SKRedirect" }).ToString())");
                        const parseResult = new DOMParser().parseFromString(url, "text/html");
                        url = parseResult.documentElement.textContent;
                            url = url.replace("BRDR_ALL_SKRedirect", data.BRDR_ALL_SK);
                            window.location.replace(url);
                        });
                    }, 1500);
                },
                error: function () {
                    errorAlert.init();
                }
            });
        }
    });
</script>


