
@{
    ViewBag.Title = "TFRMVTDT02";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">สร้างการโอนย้ายสุกรพันธุ์</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Tables</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Datatables</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6 col-lg-10">
                                <h3 class="card-title text-primary">สร้างการโอนย้าย</h3>
                            </div>
                            <div class="col-md-6 col-lg-2 d-flex" style="justify-content:flex-end !important">
                                <button class="btn btn-success btn-round">
                                    <span class="btn-label"><i class="fas fa-print"></i></span>
                                    Print
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-3">เลชที่เอกสาร</span>
                                        <input type="text" class="form-control" id="DOC_CODE" value="@ViewBag.DOC_CODE" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="โปรดเลือกวันที่">
                                        <span class="input-group-text col-lg-3" id="basic-addon1">วันที่</span>
                                        <input type="text" class="form-control input-req-date" id="MVMT_DT" placeholder="Select Date" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-4" id="basic-addon1">สถานะ</span>
                                        <input type="text"
                                               style="text-align:center"
                                               class="form-control"
                                               placeholder="Draft"
                                               aria-label="Username"
                                               aria-describedby="basic-addon1" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3 validate-input" data-validate="โปรดเลือกฟาร์ม">
                                        <span class="input-group-text col-lg-3" id="basic-addon1">ฟาร์มต้นทาง</span>
                                        <select class="form-select form-control input-req-date dropdown" id="FORM_SITE_ID" name="FORM_SITE_ID" disabled>
                                            @foreach (var sit in ViewBag.MAS_SITE)
                                            {
                                                <option value="@sit.SITE_ID">@sit.SITE_NM_TH</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-3">ฟาร์มปลายทาง</span>
                                        <select class="form-select form-control input-req-date dropdown" id="TO_SITE_ID" name="TO_SITE_ID" disabled>
                                            @foreach (var sit in ViewBag.MAS_SITE)
                                            {
                                                <option value="@sit.SITE_ID">@sit.SITE_NM_TH</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-3">โรงเรือนต้นทาง</span>
                                        <select class="form-select form-control input-req-date dropdown" id="FORM_HSG_TP">                                           
                                            @foreach (var item in ViewBag.HSG_TP_CODE as SelectList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-lg-3" id="basic-addon1">โรงเรือนปลายทาง</span>
                                        <select class="form-select form-control input-req-date dropdown" id="TO_HSG_TP">
                                            @foreach (var item in ViewBag.HSG_TP_CODE as SelectList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs nav-line nav-color-secondary" id="line-tab" role="tablist">
                            <li class="nav-item submenu" role="presentation">
                                <a class="nav-link active" id="line-home-tab" data-bs-toggle="pill" href="#line-home" role="tab" aria-controls="pills-home" aria-selected="true">รายละเอียดการโอนย้าย</a>
                            </li>
                        </ul>
                        <div class="table-responsive tab-content mt-3 mb-3">
                            <table id="tb_move" style="width:100%" border="1"
                                   class="display table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th width="2%" style="text-align:center !important">ลำดับ</th>
                                        <th style="text-align:center !important">Key</th>
                                        <th style="text-align:center !important">ฟาร์ม</th>
                                        <th style="text-align:center !important">โรงเรือนต้นทาง</th>
                                        <th style="text-align:center !important">เบอร์สุกรที่ย้าย</th>
                                        <th style="text-align:center !important">ต้นทุนสะสม</th>
                                        <th style="text-align:center !important">ค่าเสื่อมพันธุ์/วัน</th>
                                        <th style="text-align:center !important">โรงเรือนปลายทาง</th>
                                        <th style="text-align:center !important">วันที่โรงเรือนปลายทาง</th>
                                        <th width="5%" style="align-content:center">
                                            <div class="d-flex align-items-center selectgroup-pills">
                                                <button type="button" id="BT-ADD_MOVE" onclick="AddMovement(this)"
                                                        class="selectgroup-button selectgroup-button-icon">
                                                    <i class="fa fa-plus text-success"></i>
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5" style="text-align:center !important">รวม</th>           
                                        <th style="text-align:right !important"></th>
                                        <th style="text-align:right !important"></th>
                                        <th colspan="2"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="card-action">
                        <button id="saveMovement" class="btn btn-primary btn-round fix btn-fixed-position">Save</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var prev_HSG_TP = null;
    var MAS_HSG_FROM = @Html.Raw(Json.Encode(ViewBag.MAS_HSG_FROM));
    var MAS_HSG_TO = @Html.Raw(Json.Encode(ViewBag.MAS_HSG_TO));
    var BRDR_LIST = null;
    var tableMove = null;
    $(document).ready(function () {
        $('#FORM_SITE_ID').val('BT').trigger("change");
        $('#TO_SITE_ID').val('BT').trigger("change");
        $('#FORM_HSG_TP').val('R').trigger("change");
        $('#TO_HSG_TP').val('AI').trigger("change");
        prev_HSG_TP = $('#FORM_HSG_TP').val();
        $("#MVMT_DT").datepicker({
            todayHighlight: true,
            orientation: 'bottom left',
            format: 'dd-M-yyyy',
            todayBtn: 'linked',
            autoclose: 'true',
            assumeNearbyYear: true
        });
        $("#MVMT_DT").change(function () {
            $($(MVMT_DT).parent()).removeClass('alert-validate-date');
        });

        tableMove = $("#tb_move").DataTable({
            "searching": false,
            "paging": true,
            "ordering": true,
            "info": false,
            "bAutoWidth": false,
            "lengthChange": false,
            "order": [],
            responsive: !0,
            "columnDefs": [
                {
                    targets: [1, 2, 8],
                    visible: false,
                    orderable: false,
                    className: "text-center",
                },
                {
                    targets: [5,6],
                    orderable: false,
                    className: "text-right",
                    "mRender": function (data, type, full) {
                        return numeral(data).format('0,0.00');
                    }
                },
                {
                    targets: [0, 3, 4, 7, 9],
                    orderable: false,
                    className: "text-center",
                },
            ],
            "columns": [
                {
                    "render": function (data, type, full, meta) {
                        var pageInfo = tableMove.page.info();
                        return (meta.row + 1) + numeral(pageInfo.page)._value * numeral(pageInfo.length)._value;
                    }
                },
                {
                    'data': 'UK_KEY'
                },
                {
                    'data': 'SITE_ID'
                },
                {
                    'data': 'HSG_ID',
                    render: function (data, type, row, meta) {
                        var optionList = "";
                        $.each(MAS_HSG_FROM, function (index, item) {
                            if (row.HSG_ID !== null && row.HSG_ID == item.HSG_ID) {
                                optionList = optionList + ' <option selected="selected" value="' + item.HSG_ID + '">' + item.HSG_ID + '</option> ';
                            } else {
                                optionList = optionList + ' <option value="' + item.HSG_ID + '">' + item.HSG_ID + '</option> ';
                            }
                        });
                        var select = "<div class='input-group'><select class='form-select dropdown move_select' onchange='ModifyDirectlyMove(this)' id='HSG_ID--" + row.UK_KEY + "' row='" + meta.row + "' col='" + meta.col + "' hsgX='X'> <option value=''></option>" + optionList + "</select></div>";
                        return select;
                    }
                },
                {
                    'data': 'BRDR_ID',
                    render: function (data, type, row, meta) {
                        var optionList = "";
                        $.each(BRDR_LIST, function (index, item) {
                            if (row.BRDR_ID !== null && row.BRDR_ID == item.BRDR_ID) {
                                optionList = optionList + ' <option selected="selected" value="' + item.BRDR_ID + '">' + item.BRDR_ID + '</option> ';
                            } else {
                                if (row.HSG_ID == item.HSG_ID) {
                                    optionList = optionList + ' <option value="' + item.BRDR_ID + '">' + item.BRDR_ID + '</option> ';
                                }
                            }
                        });

                        var pageInfo = tableMove.page.info();
                        var row_index = 0;
                        var combines = "";
                        if (row.UK_KEY.split('--').length == 1) {
                            row_index = (numeral(meta.row)._value + 1) + numeral(pageInfo.page)._value * numeral(pageInfo.length)._value;
                        }
                        if (row_index > 0) {
                            combines = "--" + row_index.toString();
                        }
                        var select = "<div class='input-group'><select class='form-select dropdown move_select' onchange='ModifyDirectlyMove(this)' id='BRDR_ID--" + row.UK_KEY + "' brd='" + row.BRDR_ID + "' row='" + meta.row + "' col='" + meta.col + "' require> <option value=''></option>" + optionList + "</select></div>";
                        return select;
                    }
                },
                { 'data': 'NET_COST_AMT' },
                { 'data': 'BRD_DPRC_SUM' },
                {
                    'data': 'DEST_HSG_ID',
                    render: function (data, type, row, meta) {
                        var optionList = "";
                        $.each(MAS_HSG_TO, function (index, item) {
                            if (row.HSG_ID != item.HSG_ID) {
                                if (row.DEST_HSG_ID !== null && row.DEST_HSG_ID == item.HSG_ID) {
                                    optionList = optionList + ' <option selected="selected" value="' + item.HSG_ID + '">' + item.HSG_ID + '</option> ';
                                } else {
                                    optionList = optionList + ' <option value="' + item.HSG_ID + '">' + item.HSG_ID + '</option> ';
                                }
                            }
                        });
                        var pageInfo = tableMove.page.info();
                        var row_index = (meta.row + 1) + numeral(pageInfo.page)._value * numeral(pageInfo.length)._value;
                        var select = "<div class='input-group'><select class='form-select dropdown move_select' onchange='ModifyDirectlyMove(this)' id='DEST_HSG_ID--" + row.UK_KEY + "' row='" + meta.row + "' col='" + meta.col + "'> <option value=''></option>" + optionList + "</select></div>";
                        return select;
                    }
                },

                { 'data': 'DEST_HSG_DT', render: function (data, type, row) { return data != "" ? resJsonToDate(data) : ""; } },
                {
                    mRender: function (data, type, row, meta) {
                        var pageInfo = tableMove.page.info();
                        var row_index = 0;
                        var combines = "";
                        if (row.UK_KEY.split('--').length == 1) {
                            row_index = (numeral(meta.row)._value + 1) + numeral(pageInfo.page)._value * numeral(pageInfo.length)._value;
                        }
                        if (row_index > 0) {
                            combines = "--" + row_index.toString();
                        }
                        return "<div class='d-flex align-items-center selectgroup-pills'><button type='button' onclick='DelMovement(this)' id='BT-DEL_MOVE--" + row.UK_KEY + "' class='selectgroup-button selectgroup-button-icon move_bt' ><i class='fas fa-trash text-danger'></i></button></div>";
                    }
                }

            ],
            "rowCallback": function (row, data, index) {
                var pageInfo = this.api().page.info();
                var row_index = (index + 1) + pageInfo.page * pageInfo.length;
                $('td:eq(0)', row).html(row_index);
                if (data.UK_KEY.split('--').length == 1) {
                    // Update UK_KEY value permanently in the data
                    data.UK_KEY = data.UK_KEY + "--" + row_index;
                }

            },
            "drawCallback": function (settings, row, data, index) {
                var api = this.api();

                // Recalculate and update the index numbers after each draw
                api.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                    var pageInfo = api.page.info();
                    var rowIndex = (i + 1) + pageInfo.page * pageInfo.length;
                    // Update the cell's content with the new row index
                    $(cell).html(rowIndex);
                });

                $(".int").inputmask({
                    'alias': 'currency',
                    'integerDigits': '12',
                    'digits': 0,
                    'prefix': '',
                    rightAlign: false
                });
                $(".move_select").each(function () {

                    $(this).select2({
                        theme: "bootstrap-5",
                        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                        placeholder: $(this).data('placeholder'),
                        closeOnSelect: false,
                        tags: true
                    });
                });
            },
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api();
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                totalCost = api
                    .column(5)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                $(api.column(5).footer()).html(
                    numeral(totalCost).format('0,0.00')

                );
                totalDprc = api
                    .column(6)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                $(api.column(6).footer()).html(
                    numeral(totalDprc).format('0,0.00')

                );
            }

        });
    });

    $('#FORM_HSG_TP').change(function () {
        if (tableMove != null && tableMove.data().rows().count() > 0 && prev_HSG_TP != $('#FORM_HSG_TP').val()) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    SetHsgList();
                } else {
                    $('#FORM_HSG_TP').val(prev_HSG_TP).trigger("change");
                }
            });
        } else {
            SetHsgList();
        }
    });

    function SetHsgList() {
        var hsg_tp = $('#FORM_HSG_TP').val();
        $.ajax({
            type: "POST",
            url: pathServer + "/MVT/TFRMVTDT02_HSG",
            dataType: "json",
            cache: false,
            data: { HSG_TP_CODE: hsg_tp },
            success: function (data) {
                if (prev_HSG_TP != $('#FORM_HSG_TP').val()) {
                    tableMove.clear().draw();
                }

                MAS_HSG_FROM = data.MAS_HSG_FROM;
                prev_HSG_TP = $('#FORM_HSG_TP').val();
            },
            error: function () {
                errorAlert.init();
            }
        });
    }
    function AddMovement(btn) {
        var key = $("#DOC_CODE").val();
        var sit_id = $("#FORM_SITE_ID").val();
        var move_dt = $("#MVMT_DT").val();
        var dateObj = new Date(move_dt);
        var unixTimestamp = dateObj.getTime();
        var jsonDate = `/Date(${unixTimestamp})/`;

        tableMove.row.add({
            "UK_KEY": key,
            "SITE_ID": sit_id,
            "HSG_ID": "",
            "BRDR_ID": "",
            "NET_COST_AMT":0,
            "BRD_DPRC_SUM":0,
            "DEST_HSG_ID": "",
            "DEST_HSG_DT": null
        }).draw(false);
        MoveReGenerate();
    }
    function ModifyDirectlyMove(btn) {
        var id = $(btn).attr('id');
        var hsgX = $(btn).attr('hsgX');
        var row = $(btn).attr('row');
        var col = $(btn).attr('col');
        var new_values = $("#" + id).val();
        var key = id.split('--')[1] + '--' + id.split('--')[2];

        console.log("New: " + id);
        if (CheckMovement(key, new_values) == false) {

            var indexMove = tableMove
                .rows()
                .indexes()
                .filter(function (value, index) {
                    return key === tableMove.row(value).data().UK_KEY;
                });

            if (indexMove !== undefined && tableMove.row(indexMove).length > 0) {
                var page = tableMove.page.info();
                tableMove.page(page.page).cell(row, col).data(new_values).draw(false);
                if (hsgX == 'X') {
                    SelectBrdrList(key,new_values);
                }
            } else {
                console.log("Invalid row index:", indexMove);
            }
        } else {
            var page = tableMove.page.info();
            tableMove.page(page.page).cell(row, col).data("").draw(false);
        }

    }
    function CheckMovement(key, new_values) {
        var duplicate = 0;
        for (var i = 0; i < tableMove.data().length; i++) {
            if (tableMove.data()[i].BRDR_ID != "" && tableMove.data()[i].UK_KEY != key && new_values == tableMove.data()[i].BRDR_ID) {
                console.log("Dup: " + new_values + "|" + tableMove.data()[i].BRDR_ID);
                duplicate = duplicate + 1;
            }
        }

        if (duplicate > 0) {
            Swal.fire({
                icon: "error",
                title: 'Duplicate!',
                text: "You won't able to select this!",
                showCancelButton: false,
                confirmButtonText: 'OK',
            });
            return true;
        } else {
            return false;
        }
    }

    function SelectBrdrList(key, hsg) {
        $("#" + "BRDR_ID--" + key).val('').trigger("change");
        var sit = $("#FORM_SITE_ID").val();
        $.ajax({
            type: "POST",
            url: pathServer + "/MVT/TFRMVTDT02_SELECT_BRDR_MVMT",
            dataType: "json",
            cache: false,
            data: { SITE_ID: sit, HSG_ID: hsg },
            success: function (data) {
                BRDR_LIST = data.BRDR_LIST;
                MoveReGenerate();
            },
            error: function () {
                errorAlert.init();
            }
        });
    }
    function DelMovement(btn) {
        var id = $(btn).attr('id');
        var idx = $(btn).attr('idx');
        var key = id.split('--')[1] + "--" + id.split('--')[2];

        var indexHead = tableMove
            .rows()
            .indexes()
            .filter(function (value, index) {
                console.log(key + "|" + tableMove.row(value).data().UK_KEY);
                return key === tableMove.row(value).data().UK_KEY;
            }); // หา row ที่ต้องการจะลบ
        Swal.fire({
            icon: "warning",
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            showCancelButton: true,
            confirmButtonText: 'Yes',
        }).then((result) => {
            if (result.isConfirmed) {

                tableMove.rows(indexHead).remove().draw(); // ลบ row ที่ค้นหา
                MoveReGenerate();

            }
        });
    }
    function MoveReGenerate() {
        // Get current page info for later use
        var pageInfo = tableMove.page.info();

        // Update UK_KEY for each row based on new indices
        tableMove.rows().every(function (index) {
            // Get the data for the current row
            var rowData = this.data();

            // Generate new UK_KEY by removing the previous suffix and appending new index
            var newUK_KEY = String(rowData.UK_KEY).split('--')[0] + "--" + (index + 1);
            rowData.UK_KEY = newUK_KEY; // Update UK_KEY in row data

            // Update the row with the modified data
            this.data(rowData);
        });

        // Redraw the table on the same page without triggering a full reset
        tableMove.page(pageInfo.page).draw(false);
    }

    $("#saveMovement").click(function () {
        var HSG_ID = true;
        var BRDR_ID = true;
        var DEST_HSG_ID = true;
        if ($("#MVMT_DT").val() != "") {
            tableMove.rows().every(function (index) {
                var rowData = this.data();
                if ($("#HSG_ID--" + rowData.UK_KEY).val() == "") {
                    HSG_ID = false;
                }
                if ($("#BRDR_ID--" + rowData.UK_KEY).val() == "") {
                    BRDR_ID = false;
                }
                if ($("#DEST_HSG_ID--" + rowData.UK_KEY).val() == "") {
                    DEST_HSG_ID = false;
                }
            });

            if (HSG_ID == true && BRDR_ID == true && DEST_HSG_ID == true && tableMove.rows().count() > 0) {
                Swal.fire({
                    icon: "question",
                    title: 'Do you want to save?',
                    text: "Are you sure to Add movement",
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                }).then((result) => {
                    if (result.isConfirmed) {
                        saveMovement();
                    }
                });
            } else {
                Swal.fire({
                    icon: "error",
                    title: 'Empty!',
                    text: "กรุณาเลือกข้อมูลการย้ายให้ครบถ้วนหรือลบออก",
                    showCancelButton: false,
                    confirmButtonText: 'OK',
                });
            }
        } else {
            if ($("#MVMT_DT").val() == "") {
                $($(MVMT_DT).parent()).addClass('alert-validate-date');
                $("#MVMT_DT").focus();
            }
        }

    });

    function saveMovement() {
        var BRDR_MVMT = new Array();

        for (var i = 0; i < tableMove.data().length; i++) {
            let tbmove = {};
            tbmove.DOC_CODE = tableMove.data()[i].UK_KEY.split('--')[0];
            tbmove.MVMT_DT = $("#MVMT_DT").val();
            tbmove.SITE_ID = tableMove.data()[i].SITE_ID;
            tbmove.HSG_ID = tableMove.data()[i].HSG_ID;
            tbmove.BRDR_ID = tableMove.data()[i].BRDR_ID;
            tbmove.DEST_HSG_ID = tableMove.data()[i].DEST_HSG_ID;
            BRDR_MVMT.push(tbmove);
        }

        $.ajax({
            contentType: "application/json; charset=utf-8",// กำหนด content สำหรับส่งข้อมูลแบบ object or list
            type: "POST",
            url: pathServer + "/MVT/TFRMVTDT02_MVMT_INSERT",
            dataType: "json",
            data: JSON.stringify({ BRDR_MVMT: BRDR_MVMT }), //parameter Object,List
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                let timerInterval;
                xhr_loading(xhr);
                clearInterval(timerInterval);
                return xhr;
            },
            success: function (data) {

                clearInterval(interVal);
                $('#progress').css('width', 100 + "%");
                //successMessage.init();
                setTimeout(function () {
                    //Attach_File();
                    Swal.fire({
                        icon: "success",
                        title: 'Your data has been saved',
                        showConfirmButton: true,
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        location.reload();
                    });
                }, 1500);
            },
            error: function () {
                errorAlert.init();
            }
        });
    }
</script>
